<div style="width: 100%; height: 100%; top: 0px; left: 0px; position: fixed; display: block; z-index: 99" ng-show="vm.loading">
    <div style="position: absolute; top: 15%; z-index: 100; width: 100%; text-align: center;">
        <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>        
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
</div>

<div class="form-group col-md-12">
    <div class="header">
        <h4><b>Contabilidad</b></h4>
    </div>
    <div class="row" ng-show="vm.error != undefined">
        <div class = "form-group col-md-12">
            <div class = "alert alert-danger">{{vm.error}}</div>
        </div>
    </div>
    <div class = "row" ng-show = "vm.success != undefined">
        <div class = "form-group col-md-12">
            <div class = "alert alert-success">{{vm.success}}</div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label>Seleccione tipo de Libro:</label><br/>
            <select ng-options="deta.code as deta.name for deta in [{code: '001' ,name:'LIBRO DIARIO'}, {code: '002', name:'PLAN DE CUENTAS'}, {code: '003', name:'CIERRE DE AÑO'}, {code: '004', name:'MAYORES Y BALANCES'}, {code: '005', name:'NIF'}]"
                    ng-model="vm.contable.typeContab" class="form-control">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12" ng-show="vm.contable.typeContab === '001'">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>LIBRO DIARIO</b>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N&uacute;mero</th>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show=" vm.dairyBookList == 0">
                                <td colspan="4">
                                    No hay Libros Diarios ingresados...
                                </td>
                            </tr>
                            <tr ng-repeat="diary in vm.dairyBookList | orderBy:'payNumber':true">
                                <td>{{diary.dailyNumberSeq}}</td>
                                <td>{{diary.fecha | date : "dd/MM/yyyy"}}</td>
                                <td>{{diary.description}</td>
                                <td>
                                    <button type="button" title = "Editar Libro" class="btn btn-primary btn-sm" ng-click="vm.createAbono(credits)"
                                            data-dismiss="modal" data-toggle="modal" data-target="#modalAbonar">
                                            <span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button type="button" title="Volver" class="btn btn-primary btn-sm"
                            ng-click="">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12" ng-show="vm.contable.typeContab === '002'">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>PLAN DE CUENTAS</b>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N&uacute;mero</th>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show=" vm.dairyBookList == 0">
                                <td colspan="4">
                                    No hay Planes de Cuentas ingresados...
                                </td>
                            </tr>
                            <tr ng-repeat="diary in vm.dairyBookList | orderBy:'payNumber':true">
                                <td>{{diary.dailyNumberSeq}}</td>
                                <td>{{diary.fecha | date : "dd/MM/yyyy"}}</td>
                                <td>{{diary.description}</td>
                                <td>
                                    <button type="button" title = "Editar Libro" class="btn btn-primary btn-sm" ng-click="vm.createAbono(credits)"
                                            data-dismiss="modal" data-toggle="modal" data-target="#modalAbonar">
                                            <span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12" ng-show="vm.contable.typeContab === '003'">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>CIERRE DE AÑO</b>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N&uacute;mero</th>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show=" vm.dairyBookList == 0">
                                <td colspan="4">
                                    No hay Planes de Cuentas ingresados...
                                </td>
                            </tr>
                            <tr ng-repeat="diary in vm.dairyBookList | orderBy:'payNumber':true">
                                <td>{{diary.dailyNumberSeq}}</td>
                                <td>{{diary.fecha | date : "dd/MM/yyyy"}}</td>
                                <td>{{diary.description}</td>
                                <td>
                                    <button type="button" title = "Editar Libro" class="btn btn-primary btn-sm" ng-click="vm.createAbono(credits)"
                                            data-dismiss="modal" data-toggle="modal" data-target="#modalAbonar">
                                            <span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12" ng-show="vm.contable.typeContab === '004'">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>MAYORES Y BALANCES</b>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N&uacute;mero</th>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show=" vm.dairyBookList == 0">
                                <td colspan="4">
                                    No hay Planes de Cuentas ingresados...
                                </td>
                            </tr>
                            <tr ng-repeat="diary in vm.dairyBookList | orderBy:'payNumber':true">
                                <td>{{diary.dailyNumberSeq}}</td>
                                <td>{{diary.fecha | date : "dd/MM/yyyy"}}</td>
                                <td>{{diary.description}</td>
                                <td>
                                    <button type="button" title = "Editar Libro" class="btn btn-primary btn-sm" ng-click="vm.createAbono(credits)"
                                            data-dismiss="modal" data-toggle="modal" data-target="#modalAbonar">
                                            <span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12" ng-show="vm.contable.typeContab === '005'">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>NIF</b>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N&uacute;mero</th>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show=" vm.dairyBookList == 0">
                                <td colspan="4">
                                    No hay Planes de Cuentas ingresados...
                                </td>
                            </tr>
                            <tr ng-repeat="diary in vm.dairyBookList | orderBy:'payNumber':true">
                                <td>{{diary.dailyNumberSeq}}</td>
                                <td>{{diary.fecha | date : "dd/MM/yyyy"}}</td>
                                <td>{{diary.description}</td>
                                <td>
                                    <button type="button" title = "Editar Libro" class="btn btn-primary btn-sm" ng-click="vm.createAbono(credits)"
                                            data-dismiss="modal" data-toggle="modal" data-target="#modalAbonar">
                                            <span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <button type="button" title="Salir" class="btn btn-danger btn-sm"
                    ng-click="vm.exit()">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>