<div style="width: 100%; height: 100%; top: 0px; left: 0px; position: fixed; display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute; top: 15%; z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="form-group col-md-12">
  <div class="header">
    <h4><b>Cuentas Contables</b></h4>
  </div>

  <div class="row" ng-show="vm.error !== undefined">
    <div class="form-group col-md-12">
      <div class="alert alert-danger">{{vm.error}}</div>
    </div>
  </div>
  <div class="row" ng-show="vm.success !== undefined">
    <div class="form-group col-md-12">
      <div class="alert alert-success">{{vm.success}}</div>
    </div>
  </div>

  <div ng-show="vm.cuentaSelected === undefined">
    <div class="row">
      <div class="form-group col-md-10">
        <input ng-model="searchText" class="form-control" placeholder="Buscar">
      </div>
      <div class="form group col-md-1">
        <button type="button" title = "Agregar Cuenta Contable" class="btn btn-primary" ng-click="vm.cuentaCreate()">
                <span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span> 
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>C&oacute;digo</th>
          <th>Tipo</th>
          <th>Descripci&oacute;n</th>
          <th>Nombre Gen&eacute;rico</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="vm.cuentasContablesList == 0">
          <td colspan="4">
            No hay Cuentas Contables ingresadas...
          </td>
        </tr>
        <tr ng-repeat="cuenta in vm.cuentasContablesList | orderBy:'code' | filter:searchText">
          <td>{{cuenta.code}}</td>
          <td>{{cuenta.type}}</td>
          <td>{{cuenta.description}}</td>
          <td>{{cuenta.name}}</td>
          <td>
            <button type="button" title = "Editar Cuenta Contable" class="btn btn-primary btn-sm" ng-click="vm.cuentaEdit(cuenta)">
                    <span class = "glyphicon glyphicon-pencil" aria-hidden = "true"></span>
            </button>
            <button type="button" title = "Eliminar Cuenta Contable" class="btn btn-primary btn-sm" ng-click="vm.cuentaSelected = cuenta"
                    data-toggle="modal" data-target="#modalEliminar">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="form-group col-md-12">
        <button type="button" title="Salir" class="btn btn-danger btn-sm"
                ng-click="vm.exit()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="panel panel-primary" ng-show="vm.cuentaSelected !== undefined">
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-3">
          <label>Tipo:</label>
          <select ng-options="tipe.code as tipe.name for tipe in [{code: 'GENE' ,name:'GENERAL'}, {code: 'BIEN' ,name:'BIENES'}, {code: 'SERV', name:'SERVICIOS'}, {code: 'MATP', name:'MATERIA PRIMA'}, {code: 'CONS', name:'CONSUMIBLES'}, {code: 'RMBG', name:'REEMBOLSO GASTOS'}, {code: 'TKAE', name:'TICKETS AEREOS'}]"
                  ng-model="vm.cuentaSelected.type" class="form-control">
          </select>
        </div>
        <div class="form-group col-md-3">
          <label>C&oacute;digo:</label>
          <input type="text" ng-model="vm.cuentaSelected.code" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Descripci&oacute;n:</label>
          <input type="text" ng-model="vm.cuentaSelected.description" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label>Tipo de Cuenta:</label>
          <select ng-options="tip.name as tip.name for tip in [{code: 'DEB' ,name:'DEBITO (D)'}, {code: 'CRD', name:'CREDITO (C)'}]"
                  ng-model="vm.cuentaSelected.accountType" class="form-control">
          </select>
        </div>
        <div class="form-group col-md-8">
          <label>Nombre Gen&eacute;rico:</label>
          <input type="text" ng-model="vm.cuentaSelected.name" class="form-control">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="button" title = "Guardar Cuenta Contable" class="btn btn-success btn-sm" ng-click="vm.save()"
              ng-disabled="vm.cuentaSelected.code === undefined">
              <span class = "glyphicon glyphicon-floppy-save" aria-hidden = "true"></span>
      </button>
      <button type="button" title = "Salir" class="btn btn-primary btn-sm"
              ng-click="vm.cancel()">
              <span class = "glyphicon glyphicon-log-out" aria-hidden = "true"></span>
      </button>
    </div>
  </div>

  <div id="modalEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.userEdit=undefined">&times;</button>
          <h4 class="modal-title">Advertencia</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" >
              ¿Esta seguro que desea Eliminar Esta Cuenta Contable?, Es posible que se encuentre uso
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" title = "Eliminar Cuenta Contable" class="btn btn-primary btn-sm" ng-click="vm.remove()" data-dismiss="modal">
                  <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>