<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="header">
  <h4>
    Usuarios
  </h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-danger">{{vm.error}}</div>
  </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-success">{{vm.success}}</div>
  </div>
</div>

<div ng-show="vm.userIntegridad === undefined">

  <input ng-model="searchText" class="form-control" placeholder="Buscar">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Nombre </th>
        <th> Apellido </th>
        <th> Ruc </th>
        <th> C&eacute;dula </th>
        <th> Tipo </th>
        <th>
          <button type="button" class="btn btn-primary" ng-click="vm.userCreate()">
            Crear
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="vm.clientList == 0">
        <td colspan="4">
          No hay usuarios ingresados
        </td>
      </tr>
      <tr ng-repeat="userEdit in vm.userList | orderBy:firstName | filter:searchText">
        <td>{{ userEdit.firstName }}</td>
        <td>{{ userEdit.lastName }}</td>
        <td>{{ userEdit.ruc }}</td>
        <td>{{ userEdit.cedula }}</td>
        <td>{{ userEdit.userType.name }}</td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="vm.userEdit(userEdit)">
            Editar
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.userIntegridad=userEdit"
            data-toggle="modal" data-target="#modalEliminar">
            Eliminar
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.userIntegridadResend(userEdit)">
            Resetear Password
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div ng-show="vm.userIntegridad">
  <div class="panel panel-default">

    <div class="panel-body">

      <div class="row">
        <div class="form-group col-md-6">
          <label>Proyecto *: </label>
          <select ng-options="project as project.name for project in vm.projectList  | orderBy:'name'  track by project.id"
            ng-change="vm.getSubsidiaries()" ng-model="vm.project" class="form-control">
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>Surcursal *: </label>
          <select ng-options="sub as sub.name for sub in vm.subsidiaryList  | orderBy:'name' track by sub.id"
            ng-model="vm.userIntegridad.subsidiary" class="form-control" ng-change="vm.getCashiers()">
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Caja*: </label>
          <select ng-options="cas as cas.nameNumber for cas in vm.cashierList  | orderBy:'nameNumber' track by cas.id"
            ng-model="vm.userIntegridad.cashier" class="form-control">
          </select>
          <!-- <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.userIntegridad.cashier" class="form-control" maxlength="9"> -->
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>Tipo de Usuario *: </label>
          <select ng-options="userType as userType.name for userType in vm.userTypes  | orderBy:'name' track by userType.id"
            ng-model="vm.userIntegridad.userType" class="form-control" ng-change="vm.getBosses()">
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Supervisor *: </label>
          <select ng-options="boss as (boss.firstName + ' ' + boss.lastName) for boss in vm.bosses  track by boss.id"
            ng-model="vm.userIntegridad.user" class="form-control">
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Nombres *: </label>
          <input type="text" ng-model="vm.userIntegridad.firstName" class="form-control">
        </div>

        <div class="form-group col-md-6">
          <label>Apellidos *: </label>
          <input type="text" ng-model="vm.userIntegridad.lastName" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Tel&eacute;fono: (incluir c&oacute;digo de provincia ej: 02) </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.userIntegridad.phone" class="form-control" maxlength="9">
        </div>

        <div class="form-group col-md-6">
          <label>Tel&eacute;fono celular: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.userIntegridad.celPhone" class="form-control" maxlength="10">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Fecha de Nacimiento</label>
          <div class="input-group date" id="pickerBirthday">
            <input type="text" class="form-control input-group-addon"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
          </div>
          <script>
            var defaultDate = new Date();
            $('#pickerBirthday').datetimepicker({
              format: "DD/MM/YY",
              defaultDate: defaultDate
            });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Tipo de Identificacion: </label>
          <select ng-options="item for item in ['Cedula', 'Ruc']"
          ng-model="vm.typeId" class="form-control"></select>
        </div>

        <div class="form-group col-md-6" ng-show="vm.typeId === 'Cedula'">
          <label>C&eacute;dula *: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.userIntegridad.cedula" class="form-control" maxlength="10">
        </div>

        <div class="form-group col-md-6" ng-show="vm.typeId === 'Ruc'">
          <label>Ruc *: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.userIntegridad.ruc" class="form-control" maxlength="13">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Direcci&oacute;n: </label>
          <input type="text" ng-model="vm.userIntegridad.address1" class="form-control">
        </div>
      </div>

      <!-- <div class="row">
        <div class="form-group col-md-12">
          <label>Intersecci&oacute;n: </label>
          <input type="text" ng-model="vm.userIntegridad.address2" class="form-control">
        </div>
      </div> -->

      <div class="row">
        <div class="form-group col-md-12">
          <label>E-mail *: </label>
          <input type="text" ng-model="vm.userIntegridad.email" class="form-control">
        </div>

      </div>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary" ng-click="vm.register()"
        ng-disabled="vm.userIntegridad.email === undefined">
        Guardar
      </button>
      <button type="button" class="btn btn-success"
      ng-click="vm.cancel()">
        Cancelar
      </button>
    </div>

  </div>
</div>

<div id="modalEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.userEdit=undefined">&times;</button>
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" >
            Esta seguro que desea Eliminar el Usuario {{vm.userIntegridad.firstName}} {{vm.userIntegridad.lastName}} con e-mail:
            {{vm.userIntegridad.email}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.remove()" data-dismiss="modal">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
