<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width = device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css" />
    <link rel="stylesheet" href="bower_components/SpinKit/css/spinkit.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/angularPrint/angularPrint.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="integridadUiApp"  ng-controller="MenuCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header>
      <nav class="navbar navbar-inverse nav-back-head">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img src="images/SVG INTEGRIDAD.svg" width="40" height="40" class="d-inline-block align-top" alt="Integridad">
            <span class="atext-brand navbar-brand"> Integridad </span>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"  ng-show="showMainManu()">
              <li class="nav-item"><a class="nav-link" href="#!/home">Home</a></li>
              
              <li class="nav-item dropdown" ng-repeat="mod in modules | orderBy:'orderMenu'">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{mod.menuName}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-class="getClass(option)" ng-repeat="option in permissions[mod.id] | orderBy:'orderMenu'">
                    <a href="{{option.path}}"> <span class="nav-label">{{option.menuName}}</span></a>
                    <ul class="dropdown-menu" ng-show="option.sons !== undefined">
                      <li ng-repeat="son in option.sons | orderBy:'orderMenu'">
                        <a href="{{son.path}}"> <span class="nav-label">{{son.menuName}}</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="nav-item"><a class="nav-link" ng-click="logout()" href="#!/">Salir</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-top: 15px;">
              <li><b>{{nameType}}</b></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </header>
    
    <div class="container" style="width: 100%; max-width: 100%;">
      <div class="div-princip">
        <div class="row" >
          <div class="col-md-1" style="background-color: black;"></div>
          <div class="col-md-10" style="background-color: white;">
            <div ng-view=""></div>
          </div>
          <div class="col-md-1" style="background-color: black;"></div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid footer">
      <p class = "footer-text"><span class="glyphicon glyphicon-copyright-mark"></span> Developed by Mr. Zolutions</p>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      !function(A,n,g,u,l,a,r) {A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
      (A[l].q = A[l].q || []).push(arguments)}, A[l].l =+ new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a,r)
      }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/ng-pattern-restrict/src/ng-pattern-restrict.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-underscorejs/angular-underscore.js"></script>
    <script src="bower_components/angularPrint/angularPrint.js"></script>
    <script src="bower_components/blob-polyfill/Blob.js"></script>
    <script src="bower_components/file-saver.js/FileSaver.js"></script>
    <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
    <script src="bower_components/JsBarcode/dist/JsBarcode.all.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="app.js"></script>
    <script src="app.routes.js"></script>
    <script src="app.services.js"></script>
    <script src="app.core.js"></script>
    <script src="app.directives.js"></script>
    
    <!--Controllers-->
    <script src="views/main.js"></script>
    <script src="views/activate/activate.ctrl.js"></script>
    <script src="views/bills/bill.ctrl.js"></script>
    <script src="views/billsOffline/billOffline.ctrl.js"></script>
    <script src="views/clients/clients.ctrl.js"></script>
    <script src="views/cobrar/cobrar.ctrl.js"></script>
    <script src="views/contable/contable.ctrl.js"></script>
    <script src="views/cuentas/cuentas.ctrl.js"></script>
    <script src="views/debtstopay/debtstopay.ctrl.js"></script>
    <script src="views/home/home.ctrl.js"></script>
    <script src="views/menu/menu.ctrl.js"></script>
    <script src="views/note/creditNote.ctrl.js"></script>
    <script src="views/projects/projects.ctrl.js"></script>
    <script src="views/products/products.ctrl.js"></script>
    <script src="views/production/production.ctrl.js"></script>
    <script src="views/providers/providers.ctrl.js"></script>
    <script src="views/quotation/quotation.ctrl.js"></script>
    <script src="views/reports/sales.ctrl.js"></script>
    <script src="views/config/config.ctrl.js"></script>
    <script src="views/swimming/swimming.ctrl.js"></script>
    <script src="views/users/users.ctrl.js"></script>
    <script src="views/users/edit.ctrl.js"></script>
    <script src="views/cashierProcess/open.ctrl.js"></script>
    
    <!--Services-->
    <script src="scripts/services/holder.service.js"></script>
    <script src="scripts/services/auth.service.js"></script>
    <script src="scripts/services/authorization.service.js"></script>
    <script src="scripts/services/beforeunload.service.js"></script>
    <script src="scripts/services/bill.service.js"></script>
    <script src="scripts/services/billOffline.service.js"></script>
    <script src="scripts/services/brand.service.js"></script>
    <script src="scripts/services/cashier.service.js"></script>
    <script src="scripts/services/cellar.service.js"></script>
    <script src="scripts/services/client.service.js"></script>
    <script src="scripts/services/comprobante.service.js"></script>
    <script src="scripts/services/consumption.service.js"></script>
    <script src="scripts/services/contable.service.js"></script>
    <script src="scripts/services/countryList.service.js"></script>
    <script src="scripts/services/creditNote.service.js"></script>
    <script src="scripts/services/creditNoteCellar.service.js"></script>
    <script src="scripts/services/creditsbill.service.js"></script>
    <script src="scripts/services/creditsDebts.service.js"></script>
    <script src="scripts/services/cuentaContable.service.js"></script>
    <script src="scripts/services/configCuenta.service.js"></script>
    <script src="scripts/services/optionConfigCuenta.service.js"></script>
    <script src="scripts/services/date.service.js"></script>
    <script src="scripts/services/debtsToPay.service.js"></script>
    <script src="scripts/services/ebill.service.js"></script>
    <script src="scripts/services/eretention.service.js"></script>
    <script src="scripts/services/eretentionClient.service.js"></script>
    <script src="scripts/services/group.service.js"></script>
    <script src="scripts/services/line.service.js"></script>
    <script src="scripts/services/messurementList.service.js"></script>
    <script src="scripts/services/payment.service.js"></script>
    <script src="scripts/services/paymentDebts.service.js"></script>
    <script src="scripts/services/permission.service.js"></script>
    <script src="scripts/services/project.service.js"></script>
    <script src="scripts/services/product.service.js"></script>
    <script src="scripts/services/productType.service.js"></script>
    <script src="scripts/services/providers.service.js"></script>
    <script src="scripts/services/requirement.service.js"></script>
    <script src="scripts/services/security.service.js"></script>
    <script src="scripts/services/subgroup.service.js"></script>
    <script src="scripts/services/subsidiary.service.js"></script>
    <script src="scripts/services/swimming.service.js"></script>
    <script src="scripts/services/modules.service.js"></script>
    <script src="scripts/services/userType.service.js"></script>
    <script src="scripts/services/utilSeq.service.js"></script>
    <script src="scripts/services/utilString.service.js"></script>
    <script src="scripts/services/validator.service.js"></script>
    <script src="scripts/services/warehouse.service.js"></script>
    <script src="scripts/services/processCashier.service.js"></script>
    <script src="scripts/services/xlsx.full.min.js"></script>
    <!-- endbuild -->
  </body>
</html>