<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width = device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css" />
    <link rel="stylesheet" href="bower_components/SpinKit/css/spinkit.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/angularPrint/angularPrint.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="integridadUiApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header>
      <nav class="navbar navbar-inverse nav-back">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand inner">
              <img src="images/SVG INTEGRIDAD.svg" width="40" height="40" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand atext">
              Integridad
            </a>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="MenuCtrl">
            <ul class="nav navbar-nav">
              <li ng-repeat="option in permissions">
                <a class = "atext" href="{{option.path}}">{{option.menuName}}</a>
              </li>
              <li ng-show="nameType != undefined">
                <a class = "atext" href="" ng-click="logout()">Salir</a>
              </li>
              <li ng-show="nameType != undefined">
                <a class = "atext"><b>{{nameType}}</b></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="container div-princip">
      <div class="row">
        <div class="col-md-12">
          <div ng-view=""></div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid footer">
      <p class = "pull-right footer-text"><span class="glyphicon glyphicon-copyright-mark"></span> Developed by Mr. Zolutions</p>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      !function(A,n,g,u,l,a,r) {A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
      (A[l].q = A[l].q || []).push(arguments)}, A[l].l =+ new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a,r)
      }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/ng-pattern-restrict/src/ng-pattern-restrict.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-underscorejs/angular-underscore.js"></script>
    <script src="bower_components/angularPrint/angularPrint.js"></script>
    <script src="bower_components/blob-polyfill/Blob.js"></script>
    <script src="bower_components/file-saver.js/FileSaver.js"></script>
    <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="app.js"></script>
    <script src="app.routes.js"></script>
    <script src="app.services.js"></script>
    <script src="app.core.js"></script>
    <script src="app.directives.js"></script>
    
    <!--Controllers-->
    <script src="views/main.js"></script>
    <script src="views/activate/activate.ctrl.js"></script>
    <script src="views/bills/bill.ctrl.js"></script>
    <script src="views/billsOffline/billOffline.ctrl.js"></script>
    <script src="views/clients/clients.ctrl.js"></script>
    <script src="views/cobrar/cobrar.ctrl.js"></script>
    <script src="views/contable/contable.ctrl.js"></script>
    <script src="views/cuentas/cuentas.ctrl.js"></script>
    <script src="views/debtstopay/debtstopay.ctrl.js"></script>
    <script src="views/home/home.ctrl.js"></script>
    <script src="views/menu/menu.ctrl.js"></script>
    <script src="views/note/creditNote.ctrl.js"></script>
    <script src="views/users/users.ctrl.js"></script>
    <script src="views/users/edit.ctrl.js"></script>
    <script src="views/projects/projects.ctrl.js"></script>
    <script src="views/products/products.ctrl.js"></script>
    <script src="views/production/production.ctrl.js"></script>
    <script src="views/providers/providers.ctrl.js"></script>
    <script src="views/quotation/quotation.ctrl.js"></script>
    <script src="views/reports/sales.ctrl.js"></script>
    
    <!--Services-->
    <script src="scripts/services/auth.service.js"></script>
    <script src="scripts/services/authorization.service.js"></script>
    <script src="scripts/services/beforeunload.service.js"></script>
    <script src="scripts/services/bill.service.js"></script>
    <script src="scripts/services/billOffline.service.js"></script>
    <script src="scripts/services/brand.service.js"></script>
    <script src="scripts/services/cashier.service.js"></script>
    <script src="scripts/services/cellar.service.js"></script>
    <script src="scripts/services/client.service.js"></script>
    <script src="scripts/services/comprobante.service.js"></script>
    <script src="scripts/services/consumption.service.js"></script>
    <script src="scripts/services/contable.service.js"></script>
    <script src="scripts/services/countryList.service.js"></script>
    <script src="scripts/services/creditNote.service.js"></script>
    <script src="scripts/services/creditNoteCellar.service.js"></script>
    <script src="scripts/services/creditsbill.service.js"></script>
    <script src="scripts/services/creditsDebts.service.js"></script>
    <script src="scripts/services/cuentaContable.service.js"></script>
    <script src="scripts/services/date.service.js"></script>
    <script src="scripts/services/debtsToPay.service.js"></script>
    <script src="scripts/services/ebill.service.js"></script>
    <script src="scripts/services/eretention.service.js"></script>
    <script src="scripts/services/eretentionClient.service.js"></script>
    <script src="scripts/services/group.service.js"></script>
    <script src="scripts/services/line.service.js"></script>
    <script src="scripts/services/messurementList.service.js"></script>
    <script src="scripts/services/payment.service.js"></script>
    <script src="scripts/services/paymentDebts.service.js"></script>
    <script src="scripts/services/permission.service.js"></script>
    <script src="scripts/services/project.service.js"></script>
    <script src="scripts/services/product.service.js"></script>
    <script src="scripts/services/productType.service.js"></script>
    <script src="scripts/services/providers.service.js"></script>
    <script src="scripts/services/requirement.service.js"></script>
    <script src="scripts/services/security.service.js"></script>
    <script src="scripts/services/subgroup.service.js"></script>
    <script src="scripts/services/subsidiary.service.js"></script>
    <script src="scripts/services/userType.service.js"></script>
    <script src="scripts/services/utilSeq.service.js"></script>
    <script src="scripts/services/utilString.service.js"></script>
    <script src="scripts/services/validator.service.js"></script>
    <script src="scripts/services/warehouse.service.js"></script>
    <script src="scripts/services/xlsx.full.min.js"></script>
    <!-- endbuild -->
  </body>
</html>