<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="form-group col-md-12">
<div class="header">
  <h4><b>Proyectos</b></h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-danger">{{vm.error}}</div>
  </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-success">{{vm.success}}</div>
  </div>
</div>

<div ng-show="vm.project === undefined">
  <div class="form-group col-md-10">
    <input ng-model="searchText" class="form-control" placeholder="Buscar">
  </div>
  <div class="form-group col-md-2">
    <button type="button" title = "Crear Proyecto" class="btn btn-primary" ng-click="vm.projectCreate()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Codigo </th>
        <th> Nombre </th>
        <th> Ruc </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="vm.projectList == 0">
        <td colspan="4">
          No hay proyectos ingresados
        </td>
      </tr>
      <tr ng-repeat="projectEdit in vm.projectList | orderBy:'name' | filter:searchText">
        <td>{{ projectEdit.codeIntegridad }}</td>
        <td>{{ projectEdit.name }}</td>
        <td>{{ projectEdit.ruc }}</td>
        <td>
          <button type="button" title = "Editar" class="btn btn-primary btn-sm" ng-click="vm.editProject(projectEdit)">
                  <span class = "glyphicon glyphicon-pencil" aria-hidden = "true"></span>
          </button>
          <button type="button" title = "Eliminar" class="btn btn-primary btn-sm" ng-click="vm.project=projectEdit"
                  data-toggle="modal" data-target="#modalEliminar">
                  <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-primary" ng-show="!vm.updSubsi && vm.project">
  <div class="panel-heading" print-remove>
    <b>Datos del Proyecto</b>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <label>Nombre *: </label>
        <input type="text" ng-model="vm.project.name" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>Tel&eacute;fono: (incluir c&oacute;digo de provincia ej: 02) </label>
        <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
               ng-model="vm.project.phone" class="form-control" maxlength="9">
      </div>

      <div class="form-group col-md-6">
        <label>Tel&eacute;fono celular: </label>
        <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
               ng-model="vm.project.celPhone" class="form-control" maxlength="10">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>Ciudad: </label>
        <input type="text" ng-model="vm.project.city" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label>Direcci&oacute;n: </label>
        <input type="text" ng-model="vm.project.address1" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>C&eacute;dula: </label>
        <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
               ng-model="vm.project.cedula" class="form-control" maxlength="10">
      </div>

      <div class="form-group col-md-6">
        <label>Ruc *: </label>
        <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
               ng-model="vm.project.ruc" class="form-control" maxlength="13">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>C&oacute;digo Facturaci&oacute;n (Ejemplo: 001): </label>
        <input type="text" ng-model="vm.project.threeCode" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>C&oacute;digo Integridad(Ejemplo: COD01-01): </label>
        <input type="text" ng-model="vm.project.codeIntegridad" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Fecha de Inicio de Actividades</label>
        <div class="input-group date" id="pickerInitialDate">
          <input type="text" class="form-control input-group-addon"/>
                 <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
        </div>
        <script>
          var defaultDate = new Date();
          $('#pickerInitialDate').datetimepicker({
            format: "DD/MM/YY",
            defaultDate: defaultDate
          });
        </script>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Sucursales
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> C&oacute;digo Facturaci&oacute;n </th>
                  <th> Nombre </th>
                  <th> Ciudad </th>
                  <th> Direcci&oacute;n </th>
                  <th>
                    <button type="button" title="Agregar Sucursal" class="btn btn-primary btn-sm" ng-click="vm.addSubsidiary(); vm.updSubsi = true"
                            data-toggle="modal" data-target="#modalSubsidiary">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="vm.project.subsidiaries == 0">
                  <td colspan="4">
                    No hay sucursales ingresados
                  </td>
                </tr>
                <tr ng-repeat="subsi in vm.project.subsidiaries | orderBy:'name' | filter:{active: true}">
                  <td>{{ subsi.threeCode }}</td>
                  <td>{{ subsi.name }}</td>
                  <td>{{ subsi.city }}</td>
                  <td>{{ subsi.address1 }}</td>
                  <td>
                    <button type="button" title = "Editar Sucursal" class="btn btn-primary btn-sm" ng-click="vm.subsidiary=subsi; vm.updSubsi = true"
                            data-toggle="modal" data-target="#modalSubsidiary">
                            <span class = "glyphicon glyphicon-pencil" aria-hidden = "true"></span>
                    </button>
                    <button type="button" title = "Eliminar Sucursal" class="btn btn-primary btn-sm" ng-click="vm.subsidiary=subsi; vm.updSubsi = false"
                            data-toggle="modal" data-target="#modalEliminarSubsidiary">
                            <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
                    </button>
                    <button type="button" title = "Productos" class="btn btn-primary btn-sm" ng-click="vm.products(subsi)">
                            <span class = "glyphicon glyphicon-phone" aria-hidden = "true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="panel-footer">
    <button type="button" title = "Guardar Proyecto" class="btn btn-success btn-sm" ng-click="vm.save()"
            ng-disabled="vm.project.name === undefined">
            <span class = "glyphicon glyphicon-floppy-save" aria-hidden = "true"></span>
    </button>
    <button type="button" title = "Salir" class="btn btn-primary btn-sm"
            ng-click="vm.cancel()">
            <span class = "glyphicon glyphicon-log-out" aria-hidden = "true"></span>
    </button>
  </div>
</div>

<div ng-show="vm.subsidiary !== undefined && vm.updSubsi">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Sucursal
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="form-group col-md-12">
          <label>Nombre *: </label>
          <input type="text" ng-model="vm.subsidiary.name" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Tel&eacute;fono: (incluir c&oacute;digo de provincia ej: 02) </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.subsidiary.phone" class="form-control" maxlength="9">
        </div>

        <div class="form-group col-md-6">
          <label>Tel&eacute;fono celular: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.subsidiary.celPhone" class="form-control" maxlength="10">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Ciudad: </label>
          <input type="text" ng-model="vm.subsidiary.city" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Direcci&oacute;n: </label>
          <input type="text" ng-model="vm.subsidiary.address1" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>C&oacute;digo Facturaci&oacute;n (Ejemplo: 001): </label>
          <input type="text" ng-model="vm.subsidiary.threeCode" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Bodegas
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                       <!-- N&uacute;mero / Nombre de Bodega  -->
                      <input type="text" ng-model="vm.warehouseCode" class="form-control" placeholder="Ingrese un Código">
                      <input type="text" ng-model="vm.warehouseName" class="form-control" placeholder="Ingrese un Nombre">
                    </th>
                    <th>
                      <button type="button" title="Agregar Nueva Bodega" class="btn btn-primary btn-sm" ng-click="vm.addWarehouse()">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="vm.subsidiary.warehouses == 0">
                    <td colspan="2">
                      No hay bodegas ingresados
                    </td>
                  </tr>
                  <tr ng-repeat="warehouse in vm.subsidiary.warehouses | filter:{active: true}">
                    <td>{{ warehouse.nameNumber }}</td>
                    <td>
                      <button type="button" title = "Eliminar Bodega" class="btn btn-primary btn-sm" ng-click="vm.warehouse=warehouse"
                              data-toggle="modal" data-target="#modalEliminarWarehouse">
                              <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Cajas
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th> N&uacute;mero / Nombre de caja </th>
                    <th>
                      <button type="button" title = "Agregar" class="btn btn-primary btn-sm" ng-click="vm.cashier={}"
                              data-toggle="modal" data-target="#modalCashier">
                              <span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="vm.subsidiary.cashiers == 0">
                    <td colspan="2">
                      No hay cajas ingresados
                    </td>
                  </tr>
                  <tr ng-repeat="cashier in vm.subsidiary.cashiers | filter:{active: true}">
                    <td>{{ cashier.nameNumber }}</td>
                    <td>
                      <button type="button" title = "Eliminar" class="btn btn-primary btn-sm" ng-click="vm.cashier=cashier"
                              data-toggle="modal" data-target="#modalEliminarCashier">
                              <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="panel-footer">
      <button type="button" title = "Guardar Sucursal" class="btn btn-success btn-sm" ng-click="vm.saveSubsidiary()"
              data-dismiss="modal" >
              <span class = "glyphicon glyphicon-floppy-save" aria-hidden = "true"></span>
      </button>
      <button type="button" title = "Salir" class="btn btn-primary btn-sm"
              ng-click="vm.cancelSubisdiary()">
              <span class = "glyphicon glyphicon-log-out" aria-hidden = "true"></span>
      </button>
    </div>

  </div>
</div>

<div id="modalCashier" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.subsidiary=undefined">&times;</button>
        <h4 class="modal-title">Caja</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="form-group col-md-12">
            <label>Nombre o N&uacute;mero *: </label>
            <input type="text" ng-model="vm.cashier.nameNumber" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label>C&oacute;digo de facturaci&oacute;n </label>
            <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                   ng-model="vm.cashier.threeCode" class="form-control" maxlength="9">
          </div>

          <div class="form-group col-md-6">
            <label>Secuencial: </label>
            <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                   ng-model="vm.cashier.billNumberSeq" class="form-control" maxlength="10">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" title = "Guardar Caja" class="btn btn-success btn-sm" ng-click="vm.saveCashier()"
                data-dismiss="modal" >
                <span class = "glyphicon glyphicon-floppy-save" aria-hidden = "true"></span>
        </button>
        <button type="button" title = "Salir" class="btn btn-primary btn-sm"
                ng-click="vm.cancelCashier()" data-dismiss="modal">
                <span class = "glyphicon glyphicon-log-out" aria-hidden = "true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.project=undefined">&times;</button>
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" >
            Esta seguro que desea Eliminar el Proyecto {{vm.project.name}} con identificacion:
            {{vm.project.cedula}} / {{vm.project.ruc}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" title = "Eliminar Proyecto" class="btn btn-primary btn-sm" ng-click="vm.remove()" data-dismiss="modal">
                <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalEliminarSubsidiary" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.subsidiary=undefined">&times;</button>
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" >
            Esta seguro que desea Eliminar la Sucursal {{vm.subsidiary.name}} con c&oacute;digo:
            {{vm.subsidiary.threeCode}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" title = "Eliminar Sucursal" class="btn btn-primary btn-sm" ng-click="vm.removeSubsidiary()" data-dismiss="modal">
                <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalEliminarCashier" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.cashier=undefined">&times;</button>
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" >
            Esta seguro que desea Eliminar La caja {{vm.cashier.nameNumber}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" title = "Eliminar Caja" class="btn btn-primary btn-sm" ng-click="vm.removeCashier()" data-dismiss="modal">
                <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalEliminarWarehouse" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.warehouse=undefined">&times;</button>
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" >
            Esta seguro que desea Eliminar La Bodega {{vm.warehouse.nameNumber}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" title = "Eliminar Bodega" class="btn btn-primary btn-sm" ng-click="vm.removeWarehouse()" data-dismiss="modal">
                <span class = "glyphicon glyphicon-trash" aria-hidden = "true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>