<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
    <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
</div>

<div class="form-group col-md-12">
    <div class="header" ng-show="vm.selectedTypeCreditNote === undefined">
        <h4><b></b></h4>
    </div>
    <div class="panel-group table-responsive" ng-show="vm.data !== undefined" id="printArea" print-section>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Factura Electr&oacute;nica</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <table width="100%">
                            <tr>
                                <td width="20%" align="center"><img src="images/{{vm.data.logo}}"><br></td>
                                <td width="80%">
                                    <b>{{vm.data.emisor.nombre_comercial}}</b><br/></br>
                                    <b>Matriz: {{vm.data.emisor.direccion}}</b><br/>
                                    <b>Establecimiento: {{vm.data.emisor.establecimiento.direccion}}</b><br/><br/>
                                    <b>RUC: {{vm.data.emisor.ruc}}</b><br/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <table width="100%">
                            <tr>
                                <td width="30%">
                                    <label>Fecha de Autorizaci&oacute;n: </label><br/>
                                    {{vm.data.fecha_autorizacion | date:  "dd/MM/yyyy"}}
                                </td>
                                <td width="20%">
                                    <label>Fecha de Emisi&oacute;n: </label><br/>
                                    {{vm.data.fecha_emision | date:  "dd/MM/yyyy"}}
                                </td>
                                <td width="50%">
                                    <div style="padding-left: 10px">
                                        <label>Clave de Acceso: </label><br/>
                                        {{vm.data.clave_acceso}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <table width="100%">
                            <tr>
                                <td width="40%">
                                    <b>Nombre: </b>{{vm.data.comprador.razon_social}} &nbsp;
                                    <br/>
                                </td>
                                <td width="30%">
                                    <b>Identificaci&oacute;n: </b>
                                    {{vm.data.comprador.identificacion}}
                                </td>
                                <td width="30%">
                                    <b>Teléfono: </b>{{vm.data.comprador.telefono}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <table width="100%">
                            <tr>
                                <td width="40%"><b>E-mail: </b>{{vm.mailClient}}</td>
                                <td width="60%"><b>Dirección: </b>{{vm.data.comprador.direccion}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <table width="100%">
                            <tr>
                                <td width="40%">
                                    <b>Número de Factura: </b>{{vm.invoiceNumber}}
                                </td>
                                <td width="60%">
                                    <b>Estado: </b>{{vm.data.estado}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <barcode type="code128c" string="{{vm.txt}}" options="vm.options"></barcode>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Detalle</b>
            </div>
            <div class="panel-body table-responsive">
                <div class="row">
                    <div class="form-group col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>C&oacute;digo</th>
                                    <th>Nombre Producto</th>
                                    <th>Cant.</th>
                                    <th>U. Med.</th>
                                    <th>V. Unit.</th>
                                    <th>% Desc.</th>
                                    <th>V. Total.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detail in vm.data.items">
                                    <td>{{$index + 1}}</td>
                                    <td>{{detail.codigo_principal}}</td>
                                    <td>{{detail.descripcion}}</td>
                                    <td>{{detail.cantidad}}</td>
                                    <td>{{detail.unidad_medida}}</td>
                                    <td>{{detail.precio_unitario}}</td>
                                    <td>{{detail.descuento}} %</td>
                                    <td>{{(detail.precio_total_sin_impuestos)}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>SubTotal: </b></td>
                                    <td>{{(vm.data.totales.total_sin_impuestos)}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Descuento: </b></td>
                                    <td>{{(vm.data.totales.descuento)}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Base 12%: </b></td>
                                    <td>{{vm.data.totales.impuestos[0].base_imponible}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Iva: </b></td>
                                    <td>{{vm.data.totales.impuestos[0].valor}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total: </b></td>
                                    <td>{{(vm.data.totales.importe_total)}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Forma de Pago</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Medio</th>
                                    <th>Valor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{vm.pagos.name}}<br/>{{vm.pagos.code}}
                                    </td>
                                    <td>{{vm.pagos.total}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><b>Total:</b></td>
                                    <td>{{vm.pagos.total}}</td>
                                    <td>Vuelto: {{vm.cambio}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer" print-remove>
        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.clickPdf()">PDF</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.clickXml()">XML</button>
    </div>
</div>