<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="header">
  <h4>
    Factura
  </h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-danger">{{vm.error}}</div>
  </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-success">{{vm.success}}</div>
  </div>
</div>

<div ng-show="vm.clientSelected === undefined">

  <input ng-model="searchText" class="form-control" placeholder="Buscar">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> C&oacute;digo </th>
        <th> Nombre </th>
        <th> Ruc / C&eacute;dula </th>
        <th>
          <button type="button" class="btn btn-primary" ng-click="vm.clientCreate()">
            Crear Cliente
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="vm.clientList == 0">
        <td colspan="4">
          No hay clientes ingresados
        </td>
      </tr>
      <tr ng-repeat="clientPreSelect in vm.clientList | orderBy:'name' | filter:searchText">
        <td>{{ clientPreSelect.codApp }}</td>
        <td>{{ clientPreSelect.name }}</td>
        <td>{{ clientPreSelect.identification }}</td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="vm.clientSelect(clientPreSelect)">
            Facturar
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.clientConsult(clientPreSelect)">
            Consultar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div ng-show="vm.clientSelected !== undefined" id="printArea" print-section>
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Datos del Cliente</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-6">
          <!-- <b>FECHA: </b>{{vm.dateBill | date:'dd/MM/yyyy'}} -->
          <label>FECHA</label>
          <div class="input-group date" id="pickerBillDate">
            <input type="text" class="form-control input-group-addon"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
          </div>
          <script>
            var defaultDate = new Date();
            $('#pickerBillDate').datetimepicker({
              format: "DD/MM/YY HH:mm",
              defaultDate: defaultDate
            });
          </script>
        </div>
        <div class="form-group col-md-6 text-right">
          <img src="images/yeoman.png" ><br>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-5">
          <b>NOMBRE: </b>{{vm.clientSelected.name}}
        </div>
        <div class="form-group col-md-4">
          <b ng-if="vm.clientSelected.typeId === 'CED'">CEDULA: </b>
          <b ng-if="vm.clientSelected.typeId === 'RUC'">RUC: </b>
          {{vm.clientSelected.identification}}
        </div>
        <div class="form-group col-md-3">
          <b>TELEFONO: </b>{{vm.clientSelected.phone}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <b>DIRECCION: </b>{{vm.clientSelected.address}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <b>NUMERO DE FACTURA: </b> {{vm.seqNumber}}
          &nbsp;&nbsp;&nbsp;
          <a data-toggle="modal" data-target="#modalEditBillNumber" ng-click="vm.verifyUser()" print-hide>
            Editar
          </a>
        </div>
      </div>
      <div class="row" print-hide>
        <div class="form-group col-md-12">
          <b>PRECIO CONVENIDO: </b>
          <select ng-options="price as price.name for price in vm.prices"
          ng-model="vm.priceType" class="form-control" ng-change="vm.reCalculateTotal()"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Detalle</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Producto </th>
                <th> Cantidad </th>
                <th> Valor unitario </th>
                <th> Valor Total </th>
                <th>
                  <button type="button" class="btn btn-primary" ng-click="vm.addProduct()"
                    data-toggle="modal" data-target="#modalAddProduct" print-hide>
                    Agregar Producto
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="vm.clientList == 0">
                <td colspan="4">
                  No hay detalles ingresados
                </td>
              </tr>
              <tr ng-repeat="detail in vm.bill.details">
                <td>{{detail.product.name}}</td>
                <td>{{detail.quantity}}</td>
                <td>{{detail.costEach}}</td>
                <td>{{detail.total}}</td>
                <td>
                  <button type="button" class="btn btn-primary"
                          ng-click="vm.editDetail(detail, $index)"
                          data-toggle="modal" data-target="#modalAddProduct" print-hide>
                    Editar
                  </button>
                  <button type="button" class="btn btn-primary" ng-click="vm.removeDetail($index)" print-hide>
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><b>SUBTOTAL: </b></td>
                <td>{{vm.bill.subTotal}}</td>
                <td>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><b>ICE: </b></td>
                <td>{{vm.bill.ice}}</td>
                <td>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><b>IVA: </b></td>
                <td>{{vm.bill.iva}}</td>
                <td>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><b>TOTAL: </b></td>
                <td>{{vm.bill.total}}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <button type="button" class="btn btn-primary"
          data-toggle="modal" data-target="#modalAddPago" ng-disabled="vm.bill.total <= 0 || vm.billed" print-hide>
            Cobrar
          </button>
          <button print-btn type="button" class="btn btn-primary" ng-click="vm.getClaveAcceso()"
          ng-disabled="(vm.pagos.length === 0 || vm.getCambio < 0) || vm.billed" print-hide>
            Facturar
          </button>
          <button type="button" class="btn btn-primary">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="modalAddPago" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.medio={}">&times;</button>
          <h4 class="modal-title">Agregar Pago</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-4">
              <b>MEDIO: </b>
              <select ng-options="med.code as med.name for med in vm.medList  | orderBy:'name'  track by med.code"
                ng-model="vm.medio.medio" class="form-control">
              </select>
            </div>
            <div class="form-group col-md-4">
              <b>VALOR: </b>
              <input type="text" onkeypress="return ((event.which >= 46 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
              ng-model="vm.medio.total" class="form-control" maxlength="9">
            </div>
            <div class="form-group col-md-4">
              <br />
              <button type="button" class="btn btn-primary" ng-click="vm.addPago()">
                Agregar
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th> Medio </th>
                    <th> Valor</th>
                    <th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="vm.pagos == 0">
                    <td colspan="4">
                      No hay pagos ingresados
                    </td>
                  </tr>
                  <tr ng-repeat="pago in vm.pagos">
                    <td>{{ pago.medio }}</td>
                    <td>{{ pago.total }}</td>
                    <td>
                      <button type="button" class="btn btn-primary" ng-click="vm.removePago($index)">
                        Eliminar
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td><b>TOTAL</b></td>
                    <td>{{vm.getTotalPago()}}</td>
                    <td>
                      Vuelto: {{vm.getCambio}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            ng-disabled="vm.pagos.length === 0 || vm.getCambio < 0">
            Aceptar y Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalAddProduct" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.productToAdd=undefined">&times;</button>
          <h4 class="modal-title">Agregar Producto</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" ng-if="vm.productToAdd === undefined">
              <input ng-model="searchText" class="form-control" placeholder="Buscar">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th> Nombre </th>
                    <th> Cantidad Disponible</th>
                    <th> Precio Unitario $</th>
                    <th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="vm.productList == 0">
                    <td colspan="4">
                      No hay proyectos ingresados
                    </td>
                  </tr>
                  <tr ng-repeat="productSelect in vm.productList | orderBy:'name' | filter:searchText">
                    <td>{{ productSelect.name }}</td>
                    <td>{{ productSelect.quantity }}</td>
                    <td>{{ vm.getCost('1.'+ productSelect[vm.priceType.cod], productSelect.averageCost) }}</td>
                    <td>
                      <button type="button" class="btn btn-primary" ng-click="vm.productToAdd = productSelect; vm.quantity = 1">
                        Seleccionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-12" ng-if="vm.productToAdd !== undefined">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <b>{{vm.productToAdd.name}}</b>
                </div>
                <div class="panel-body">
                  <div class="row" ng-show="vm.errorQuantity">
                    <div class="form-group col-md-12">
                      <div class="alert alert-danger">{{vm.errorQuantity}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <b>CANTIDAD DISPONIBLE: </b><h4>{{vm.productToAdd.quantity}}</h4>
                    </div>
                    <div class="form-group col-md-6">
                      <b>CANTIDAD A VENDER: </b>
                      <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                      ng-model="vm.quantity" class="form-control" maxlength="9">
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <button type="button" class="btn btn-primary"
                    ng-click="vm.productToAdd = undefined; vm.quantity = undefined">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="vm.acceptProduct(true)"
            ng-disabled="vm.productToAdd === undefined">
            Aceptar y Cerrar
          </button>

          <button type="button" class="btn btn-primary" ng-click="vm.acceptProduct(false)"
            ng-disabled="vm.productToAdd === undefined">
            Aceptar y Agreagar Mas productos
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalEditBillNumber" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" ng-show="vm.isEmp">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Editar N&uacute;mero de Factura</h4>
        </div>
        <div class="modal-body">
          <div class="row" ng-show="vm.errorValidateAdm !== undefined">
            <div class="form-group col-md-12">
              <div class="alert alert-danger">{{vm.errorValidateAdm}}</div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <b>CLAVE ADMINISTRADOR: </b>
              <input type="password" ng-model="vm.passwordAdm" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <button type="button" class="btn btn-primary" ng-click="vm.validateAdm()" ng-disabled="vm.passwordAdm === undefined">
                Validar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-content" ng-show="!vm.isEmp">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.productToAdd=undefined">&times;</button>
          <h4 class="modal-title">Editar N&uacute;mero de Factura</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <b>NUEVO NUMERO DE FACTURA: </b>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              {{vm.seqNumberFirstPart}}-
            </div>
            <div class="form-group col-md-10">
              <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
              ng-model="vm.seqNumberSecondPart" class="form-control" maxlength="10">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="vm.acceptNewSeq()" data-dismiss="modal">
            Aceptar
          </button>

          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
