<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="header">
  <h4>
    Factura
  </h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-danger">{{vm.error}}</div>
  </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-success">{{vm.success}}</div>
  </div>
</div>

<div ng-show="vm.clientSelected === undefined">

  <input ng-model="searchText" class="form-control" placeholder="Buscar">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> C&oacute;digo </th>
        <th> Nombre </th>
        <th> Ruc / C&eacute;dula </th>
        <th>
          <button type="button" class="btn btn-primary" ng-click="vm.clientCreate()">
            Crear Cliente
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="vm.clientList == 0">
        <td colspan="4">
          No hay clientes ingresados
        </td>
      </tr>
      <tr ng-repeat="clientPreSelect in vm.clientList | orderBy:name | filter:searchText">
        <td>{{ clientPreSelect.codApp }}</td>
        <td>{{ clientPreSelect.name }}</td>
        <td>{{ clientPreSelect.identification }}</td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="vm.clientSelect(clientPreSelect)">
            Facturar
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.clientConsult(clientPreSelect)">
            Consultar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div ng-show="vm.clientSelected !== undefined">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Datos del Cliente</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-6">
          <b>FECHA: </b>{{vm.dateBill | date:'dd/MM/yyyy'}}
        </div>
        <div class="form-group col-md-6">
          <b>NOMBRE: </b>{{vm.clientSelected.name}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <b ng-if="vm.clientSelected.typeId === 'CED'">CEDULA: </b>
          <b ng-if="vm.clientSelected.typeId === 'RUC'">RUC: </b>
          {{vm.clientSelected.identification}}
        </div>
        <div class="form-group col-md-6">
          <b>TELEFONO: </b>{{vm.clientSelected.phone}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <b>DIRECCION: </b>{{vm.clientSelected.address}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <b>NUMERO DE FACTURA: </b> {{vm.seqNumber}}
          &nbsp;&nbsp;&nbsp;<a>Editar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Detalle</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Producto </th>
                <th> Cantidad </th>
                <th> Valor unitario </th>
                <th> Valor Total </th>
                <th>
                  <button type="button" class="btn btn-primary" ng-click="vm.addProduct()"
                    data-toggle="modal" data-target="#modalAddProduct">
                    Agregar Producto
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="vm.clientList == 0">
                <td colspan="4">
                  No hay detalles ingresados
                </td>
              </tr>
              <tr ng-repeat="detail in vm.bill.details">
                <td>{{detail.product.name}}</td>
                <td>{{detail.quantity}}</td>
                <td>{{detail.costEach}}</td>
                <td>{{detail.total}}</td>
                <td>
                  <button type="button" class="btn btn-primary" ng-click="vm.clientSelect(clientPreSelect)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="modalAddProduct" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.product=undefined">&times;</button>
          <h4 class="modal-title">Agregar Producto</h4>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12" ng-if="vm.productToAdd === undefined">
              <input ng-model="searchText" class="form-control" placeholder="Buscar">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th> Nombre </th>
                    <th> Cantidad Disponible</th>
                    <th> Precio Unitario $</th>
                    <th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="vm.productList == 0">
                    <td colspan="4">
                      No hay proyectos ingresados
                    </td>
                  </tr>
                  <tr ng-repeat="productSelect in vm.productList | orderBy:name | filter:searchText">
                    <td>{{ productSelect.name }}</td>
                    <td>{{ productSelect.quantity }}</td>
                    <td>{{ productSelect.cost }}</td>
                    <td>
                      <button type="button" class="btn btn-primary" ng-click="vm.productToAdd = productSelect; vm.quantity = 1">
                        Seleccionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-12" ng-if="vm.productToAdd !== undefined">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <b>{{vm.productToAdd.name}}</b>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <b>CANTIDAD DISPONIBLE: </b><h4>{{vm.productToAdd.quantity}}</h4>
                    </div>
                    <div class="form-group col-md-6">
                      <b>CANTIDAD A VENDER: </b>
                      <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                      ng-model="vm.quantity" class="form-control" maxlength="9">
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <button type="button" class="btn btn-primary"
                    ng-click="vm.productToAdd = undefined; vm.quantity = undefined">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="vm.acceptProduct(true)"
            ng-disabled="vm.productToAdd === undefined">
            Aceptar y Cerrar
          </button>

          <button type="button" class="btn btn-primary" ng-click="vm.acceptProduct(false)"
            ng-disabled="vm.productToAdd === undefined">
            Aceptar y Agreagar Mas productos
          </button>
        </div>
      </div>
    </div>
  </div>
