.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: black;
  /* background: url("../images/mrz-01.jpg") no-repeat fixed center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100% ;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing
{
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.nav-back {
  background-color: black;
  font-size: small;
  width: 100%;
}

.nav-back-head {
  background-color:#E2E2E2;
  font-size: small;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  border: #E2E2E2;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

.footer {
  padding: 0.5%;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
  color: black;
  vertical-align: middle;
  text-align: right;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Open Sans', sans-serif;
}

.footer-text {
  font-size: 15px;
  font-weight: bold;
}

.inner {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px;
}

.ptext {
  font-size: 15px;
}

.li-nav {
  padding: 0px;
  margin: 0px;
}

.atext {
  color: black;
  font-size: small;
  font-weight: bold;
}

.atext-brand {
  color: #6094D6;
  font-size: large;
  font-weight: bold;
  margin-top: 12px;
  float: left;
}

.atext-user {
  color: black;
  font-size: medium;
  font-weight: bold;
}

.div-princip {
  margin-top: 0px;
  position: relative;
}

.trasluz {
  filter: alpha(opacity=85);
  opacity: 0.85;
}

#cajon2 {
  margin-top: 30px;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*404 Div Styles*/
.h1-text {
  margin: 0 10px;
  font-size: 50px;
  text-align: center;
}

.h4-text {
  margin: 0 10px;
  font-size: 20px;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.table-responsive {
  overflow-x: hidden;
}

.navbar-collapse {
  padding-left:0 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-collapse {
    height: 100%;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0 !important;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar {
    margin-right: 0;
    margin-left: 0;
  }	

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {
    float:none !important;
  }

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}