<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="header">
  <h4>
    Proveedores
  </h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-danger">{{vm.error}}</div>
  </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-success">{{vm.success}}</div>
  </div>
</div>

<div ng-show="vm.provider === undefined && vm.retention === undefined && vm.debstopay === undefined">
  <div class="row">
    <div class="form-group col-md-10">
      <input ng-model="searchText" class="form-control" placeholder="Buscar">
    </div>
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-primary" ng-click="vm.providerCreate()">
              Crear
        </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> C&oacute;digo </th>
        <th> Nombre </th>
        <th> Tipo </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="vm.providerList == 0">
        <td colspan="4">
          No hay proveedores ingresados
        </td>
      </tr>
      <tr ng-repeat="providerEdit in vm.providerList | orderBy:'name' | filter:searchText">
        <td>{{ providerEdit.codeIntegridad }}</td>
        <td>{{ providerEdit.name }}</td>
        <td>{{ providerEdit.providerType }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" ng-click="vm.editProvider(providerEdit)">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-primary btn-sm" ng-click="vm.provider=providerEdit"
                  data-toggle="modal" data-target="#modalEliminar">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-primary btn-sm" ng-click="vm.createRetention(providerEdit)">
                  Retenci&oacute;n
          </button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="vm.createDetailFactura(providerEdit)">
                  Factura
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show="vm.provider !== undefined">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Datos del Proveedor</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label>C&oacute;digo: </label>
          <input type="text" ng-model="vm.provider.codeIntegridad" class="form-control">
        </div>
        <div class="form-group col-md-8">
          <label>Tipo de proveedor: </label>
          <select ng-options="tipo as tipo for tipo in vm.providerType" ng-model="vm.provider.providerType"
          class="form-control"></select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Tipo de Identificacion: </label>
          <select ng-options="item.code as item.name for item in [{code:'CED', name:'CEDULA'}, {code:'RUC', name:'RUC'}, {code:'PAS', name:'PASAPORTE'}]"
                  ng-model="vm.provider.ruc_type" class="form-control">
          </select>
        </div>
        
        <div class="form-group col-md-6" ng-show="vm.provider.ruc_type === 'CED'">
          <label>C&eacute;dula: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                 ng-model="vm.provider.ruc" class="form-control" maxlength="10">
        </div>
        
        <div class="form-group col-md-6" ng-show="vm.provider.ruc_type === 'RUC'">
            <label>RUC: </label>
            <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                   ng-model="vm.provider.ruc" class="form-control" maxlength="13">
        </div>

        <div class="form-group col-md-6" ng-show="vm.provider.ruc_type === 'PAS'">
            <label>Pasaporte: </label>
            <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                   ng-model="vm.provider.ruc" class="form-control" maxlength="10">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Nombre Comercial: </label>
          <input type="text" ng-model="vm.provider.name" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Raz&oacute;n Social: </label>
          <input type="text" ng-model="vm.provider.razonSocial" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Direcci&oacute;n: </label>
          <input type="text" ng-model="vm.provider.address1" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Pa&iacute;s: </label>
          <input type="text" ng-model="vm.provider.country" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Ciudad: </label>
          <input type="text" ng-model="vm.provider.city" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Tel&eacute;fono: (incluir c&oacute;digo de provincia ej: 02) </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.provider.phone" class="form-control" maxlength="9">
        </div>
        <div class="form-group col-md-6">
          <label>Tel&eacute;fono celular: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.provider.celPhone" class="form-control" maxlength="10">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Email: </label>
          <input type="text" ng-model="vm.provider.email" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Contacto: </label>
          <input type="text" ng-model="vm.provider.contact" class="form-control">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary" ng-click="vm.register()"
        ng-disabled="vm.disableSave()">
        Guardar
      </button>
      <button type="button" class="btn btn-success"
      ng-click="vm.cancel()">
        Cancelar
      </button>
    </div>
  </div>
</div>

<!--INICIO DEL MODULO DE RETENCIONES-->

<div ng-show="vm.retention !== undefined && !vm.retentionCreated">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Datos para La Retenci&oacute;n</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-6">
          <label>C&oacute;digo Proveedor: </label>
          {{vm.retention.provider.codeIntegridad}}
        </div>

        <div class="form-group col-md-6">
          <label>RUC / CEDULA: </label>
          {{vm.retention.provider.ruc}}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Nombre Comercial: </label>
          {{vm.retention.provider.name}}
        </div>
        <div class="form-group col-md-6">
          <label>Raz&oacute;n Social: </label>
          {{vm.retention.provider.razonSocial}}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Direcci&oacute;n: </label>
          {{vm.retention.provider.address1}}
        </div>
      </div>


      <div class="row">
        <div class="form-group col-md-6">
          <label>N&uacute;mero de Retenci&oacute;n: </label>
          <b>{{vm.seqNumber}}</b>
        </div>

        <div class="form-group col-md-6">
          <label>Tipo de documento: </label>
          <select ng-options="typeDoc.code as typeDoc.name for typeDoc in vm.documentType  | orderBy:'name'  track by typeDoc.code" ng-model="vm.docType"
          class="form-control"></select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Fecha: </label>
          <div class="input-group date" id="pickerBillDateRetention">
            <input type="text" class="form-control input-group-addon"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
          </div>
          <script>
            var defaultDate = new Date();
            $('#pickerBillDateRetention').datetimepicker({format: "DD/MM/YY",});
          </script>
        </div>

        <div class="form-group col-md-6">
          <label>N&uacute;mero de Documento: </label>
          <input type="text" ng-model="vm.retention.numero"
          class="form-control" maxlength="17">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label>Fecha Documento: </label>
          <div class="input-group date" id="pickerBillDateDocumentRetention">
            <input type="text" class="form-control input-group-addon"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </div>
          <script>
            $('#pickerBillDateDocumentRetention').datetimepicker({
              format: "DD/MM/YY",
            });
          </script>
        </div>

        <div class="form-group col-md-4">
          <label>Tipo de Impuesto: </label><br/>
          <label class="radio-inline"><input type="radio" ng-model="vm.retention.typeRetention" value="1" name="tipo"
            ng-change="vm.getPercentageTable()" ng-disabled="vm.retention.numero === undefined">Fuente</label>
          <label class="radio-inline"><input type="radio" ng-model="vm.retention.typeRetention" value="2" name="tipo"
            ng-change="vm.getPercentageTable()" ng-disabled="vm.retention.numero === undefined">IVA</label>
        </div>

        <div class="form-group col-md-4">
          <label>Ejercicio Fiscal: </label><br/>
          <label>{{vm.retention.ejercicio}} </label>
          <!-- <input type="text" ng-model="vm.retention.ejercicio"
          class="form-control" ng-disabled="true"> -->
        </div>
      </div>
      <div class="row" ng-show="vm.tablePercentage !== undefined">
        <div class="form-group col-md-12">
          <input ng-model="searchTextPercentage" class="form-control" placeholder="Buscar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> C&oacute;digo </th>
                <th> Descripci&oacute;n </th>
                <th> % </th>
                <th>  </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="vm.tablePercentage == 0">
                <td colspan="2">
                  No hay Fuente Seleccionada
                </td>
              </tr>
              <tr dir-paginate="p in vm.tablePercentage | filter:searchTextPercentage | itemsPerPage: 5" pagination-id="clientPagination">
                <td>{{ p.codigo }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.percentage }}</td>
                <td>
                  <button type="button" class="btn btn-primary"
                    ng-click="vm.selecPercentage(p)" data-toggle="modal" data-target="#modalBaseImponible">
                    Seleccionar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <dir-pagination-controls pagination-id="clientPagination"></dir-pagination-controls>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> IMPUESTO TIPO </th>
                <th> CODIGO </th>
                <th> BASE IMPONIBLE </th>
                <th> RETENCIONES %</th>
                <th> VALOR $</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="vm.retention.items == 0">
                <td colspan="5">
                  No hay Fuente Seleccionada
                </td>
              </tr>
              <tr ng-repeat="i in vm.retention.items" >
                <td>
                  <span ng-if="i.codigo === 1">RETENCION EN LA FUENTE</span>
                  <span ng-if="i.codigo === 2">RETENCION EN EL IVA</span>
                </td>
                <td>{{ i.codigo_porcentaje }}</td>
                <td>{{ i.base_imponible }}</td>
                <td>{{ i.porcentaje }}</td>
                <td>{{ i.valor_retenido }}</td>
                <td>
                  <button type="button" class="btn btn-primary"
                    ng-click="vm.editItem($index)" data-toggle="modal" data-target="#modalBaseImponible">
                    Editar
                  </button>
                  <button type="button" class="btn btn-primary"
                    ng-click="vm.deleteItem($index)">
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>TOTAL</b></td>
                <td>{{vm.getTotalRetenciones()}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <button type="button" class="btn btn-primary" ng-click="vm.previsualisation()"
            data-toggle="modal" data-target="#modalPrevisualizacion"
            ng-disabled="vm.retention.items == 0">
            Previsualizar
          </button>
          <button type="button" class="btn btn-primary"
            ng-click="vm.getClaveAcceso()" ng-disabled="vm.retention.items == 0">
            Crear
          </button>
          <button type="button" class="btn btn-primary"
            ng-click="vm.retention = undefined">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="vm.retentionCreated" id="printArea" print-section>
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Datos del Cliente</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-12 ">
          <table width="100%">
            <tr>
              <td width="50%" align="center"><img src="images/{{vm.userData.subsidiary.userClient.logo}}" ><br></td>
              <td width="50%" rowspan="2">
                <div style="padding:0px 20px;">
                  <b>RUC: {{vm.userData.subsidiary.userClient.ruc}}</b><br/>
                  <b>COMPROBANTE DE RETENCION</b><br/><br/>
                  <b>No: {{vm.retention.stringSeq}}</b><br/>
                  <b>AUTORIZACION: {{vm.retention.claveDeAcceso}}</b><br/>
                  <b>FECHA: {{ vm.retention.dateCreated | date : "dd-MM-yyyy" }}</b><br/>
                  <b>FACTURA: {{vm.retention.documentNumber}}</b><br/>
                  <b>AMBIENTE: {{vm.retention.userIntegridadcashier.subsidiary.userClient.testMode ? 'PRUEBAS' : 'PRODUCCION'}}</b><br/><br/>
                </div>
              </td>
            </tr>
            <tr>
              <td  width="50%" valign="top">
                <div style="padding:10px 20px;">
                  <b>{{vm.userData.subsidiary.userClient.name}}</b><br/></br>
                  <b>Matriz: {{vm.userData.subsidiary.userClient.address1}}</b><br/>
                  <b>Establecimiento: {{vm.userData.subsidiary.address1}}</b><br/>
                  <b>Tel&eacute;fono: {{vm.userData.subsidiary.phone}}</b><br/>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 ">
          <table width="100%">
            <tr>
              <td width="50%">
                <div >
                  <label>Raz&oacute;n social / Nombres y Apellidos: </label>
                  {{vm.retention.provider.razonSocial}}
                </div>
              </td>
              <td width="50%" style=" padding-left: 10px">
                <label>identificaci&oacute;n: </label>
                {{vm.retention.provider.ruc}}
              </td>
            </tr>
            <tr>
              <td>
                <div >
                  <label>Fecha de emisi&oacute;n: </label>
                  {{ vm.retention.dateCreated | date : "dd-MM-yyyy" }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div >
                  <label>Direcci&oacute;n: </label>
                  {{vm.retention.provider.address1}}
                </div>
              </td>
              <td style=" padding-left: 10px">
                <label>E-mail: </label>
                {{vm.retention.provider.email}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 ">
          <table width="100%" border="1">
            <tr>
              <td><b>EJERCICIO FISCAL </b></td>
              <td><b>TIPO IMPUESTO </b></td>
              <td><b>CODIGO </b></td>
              <td><b>BASE IMPONIBLE </b></td>
              <td><b>RETENCIONES % </b></td>
              <td><b>VALOR </b></td>
            </tr>
            <tr ng-repeat="detail in vm.retention.detailRetentions">
              <td>{{vm.retention.ejercicioFiscal}}</td>
              <td>{{detail.taxType}}</td>
              <td>{{detail.code}}</td>
              <td>{{detail.baseImponible}}</td>
              <td>{{detail.percentage}}</td>
              <td>{{detail.total}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>TOTAL</b></td>
              <td>{{vm.totalRetention}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row" print-remove>
        <div class="form-group col-md-12">
          <button type="button" class="btn btn-primary"
                  ng-click="vm.cancelRetentionCreated()">
            Cancelar
          </button>
          <button print-btn type="button" class="btn btn-success"
                  ng-click="vm.cancelRetentionCreated()">
            Imprimir
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="modalPrevisualizacion"  class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.impuesto=undefined">&times;</button>
        <h4 class="modal-title">Retenci&oacute;n</h4>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-md-12 ">
              <table width="100%">
                <tr>
                  <td width="50%" align="center"><img src="images/{{vm.userData.subsidiary.userClient.logo}}" ><br></td>
                  <td width="50%" rowspan="2">
                    <div style="padding:0px 20px;">
                      <b>RUC: {{vm.userData.subsidiary.userClient.ruc}}</b><br/>
                      <b>COMPROBANTE DE RETENCION</b><br/><br/>
                      <b>No: {{vm.retention.stringSeq}}</b><br/>
                      <b>AUTORIZACION: {{vm.retention.claveDeAcceso}}</b><br/>
                      <b>FECHA: {{ vm.today | date : "dd-MM-yyyy" }}</b><br/>
                      <b>FACTURA No: {{vm.retention.numero}}</b>
                      <b>AMBIENTE: {{vm.retention.userIntegridadcashier.subsidiary.userClient.testMode ? 'PRUEBAS' : 'PRODUCCION'}}</b><br/><br/>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td  width="50%" valign="top">
                    <div style="padding:10px 20px;">
                      <b>{{vm.userData.subsidiary.userClient.name}}</b><br/></br>
                      <b>Matriz: {{vm.userData.subsidiary.userClient.address1}}</b><br/>
                      <b>Establecimiento: {{vm.userData.subsidiary.address1}}</b><br/>
                      <b>Tel&eacute;fono: {{vm.userData.subsidiary.phone}}</b><br/>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 ">
              <table width="100%">
                <tr>
                  <td width="50%">
                    <div >
                      <label>Raz&oacute;n social / Nombres y Apellidos: </label>
                      {{vm.retention.provider.razonSocial}}
                    </div>
                  </td>
                  <td width="50%" style=" padding-left: 10px">
                    <label>identificaci&oacute;n: </label>
                    {{vm.retention.provider.ruc}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <label>Fecha de emisi&oacute;n: </label>
                      {{ vm.today | date : "dd-MM-yyyy" }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <label>Direcci&oacute;n: </label>
                      {{vm.retention.provider.address1}}
                    </div>
                  </td>
                  <td style=" padding-left: 10px">
                    <label>E-mail: </label>
                    {{vm.retention.provider.email}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
  
          <div class="row">
            <div class="form-group col-md-12 ">
              <table width="100%" border="1">
                <tr>
                  <td><b>EJERCICIO FISCAL </b></td>
                  <td><b>TIPO IMPUESTO </b></td>
                  <td><b>CODIGO </b></td>
                  <td><b>BASE IMPONIBLE </b></td>
                  <td><b>RETENCIONES % </b></td>
                  <td><b>VALOR </b></td>
                </tr>
                <tr ng-repeat="detail in vm.retention.detailRetentions">
                  <td>{{vm.retention.ejercicioFiscal}}</td>
                  <td>{{detail.taxType}}</td>
                  <td>{{detail.code}}</td>
                  <td>{{detail.baseImponible}}</td>
                  <td>{{detail.percentage}}</td>
                  <td>{{detail.total}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>TOTAL</b></td>
                  <td>{{vm.totalRetention}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
  <div id="modalBaseImponible" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.impuesto=undefined">&times;</button>
          <h4 class="modal-title">Base Imponible</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3"  ng-if="vm.item.codigo === 1">
              <b>Retenci&oacute;n en la Fuente</b>
            </div>
            <div class="col-md-3"  ng-if="vm.item.codigo === 2">
              <b>Retenci&oacute;n del IVA</b>
            </div>
            <div class="col-md-3" >
              C&oacute;digo: <b>{{vm.item.codigo_porcentaje}}</b>
            </div>
            <div class="col-md-3" >
              Retenci&oacute;n %: <b>{{vm.item.porcentaje}}</b>
            </div>
            <div class="col-md-3" >
              <label>Valor</label>
              <input type="text" onkeypress="return ((event.which >= 46 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
              class="form-control" maxlength="9" ng-model="vm.item.base_imponible">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addItem()">
            Aceptar
          </button>
          <button type="button" class="btn btn-primary"  data-dismiss="modal"
            ng-click="vm.item = undefined; vm.indexEdit = undefined;">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="modalEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="vm.provider=undefined">&times;</button>
          <h4 class="modal-title">Advertencia</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" >
              Esta seguro que desea Eliminar el Proveedor: {{vm.provider.name}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="vm.remove()" data-dismiss="modal">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>

<!--FIN DEL MODULO DE RETENCIONES-->

<!--INICIO MODULO DE CARGA DETALLES DE FACTURA PARA CTAS X COBRAR -->

<div ng-show="vm.debstopay !== undefined && !vm.debstopayCreated">
  <div class="panel panel-default">
      <div class="panel-heading">
          <b>Detalles de la Factura</b>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="form-group col-md-6">
                  <label>C&oacute;digo Proveedor: </label>
                  {{vm.debstopay.provider.codeIntegridad}}
              </div>
              <div class="form-group col-md-6">
                  <label>RUC / CEDULA: </label>
                  {{vm.debstopay.provider.ruc}}
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-6">
                  <label>Nombre Comercial: </label>
                  {{vm.debstopay.provider.name}}
              </div>
              <div class="form-group col-md-6">
                  <label>Raz&oacute;n Social: </label>
                  {{vm.debstopay.provider.razonSocial}}
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-12">
                  <label>Direcci&oacute;n: </label>
                  {{vm.debstopay.provider.address1}}
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-6">
                  <label>Tipo de Comprobante de Compra: </label>
                  <select ng-options="typeDoc.code as typeDoc.name for typeDoc in vm.documentType | orderBy:'name' track by typeDoc.code" ng-model="vm.docType1"
                          class="form-control">
                  </select>
              </div> 
              <div class="form-group col-md-6">
                  <label>Tipo de C&oacute;digo Sustento: </label>
                  <select ng-options="typeDocs.code as typeDocs.name for typeDocs in vm.supportType | orderBy:'name' track by typeDocs.code" ng-model="vm.docType"
                          class="form-control">
                  </select>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-4">
                  <label>Fecha del Documento: </label>
                  <div class="input-group date" id="pickerBillDateDocumentDebsToPay">
                      <input type="text" class="form-control input-group-addon"/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
                  </div>
                  <script>
                      var defaultDate = new Date();
                      $('#pickerBillDateDocumentDebsToPay').datetimepicker({format: "DD/MM/YY",});
                  </script>
              </div>
              <div class="form-group col-md-2">
                  <label>Ejercicio Fiscal: </label><br>
                  <label>{{vm.debstopay.ejercicio}}</label>
              </div>
              <div class="form-group col-md-6">
                  <label>N&uacute;mero de Documento: </label>
                  <input type="text" ng-model="vm.debstopay.numero"
                         class="form-control" maxlength="17">
              </div>
          </div> 
          <div class="row">
              <div class="form-group col-md-12">
                  <label>N&uacute;mero de Autorizaci&oacute;n:</label>
                  <input type="text" ng-model="vm.debstopay.autorizationNumber"
                         class="form-control" maxlength="90">
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-4">
                  <label>Valor Total a Pagar:</label>
                  <input type="text" ng-model="vm.debstopay.total"
                         class="form-control" maxlength="20">
              </div>
              <div class="form-group col-md-4">
                  <label>Tipo de Impuesto: </label><br>
                  <label class="radio-inline"><input type="radio" ng-model="vm.debstopay.typeTaxes" value="1" name="tipo"
                         ng-disabled="vm.debstopay.total === undefined">IVA
                  </label>
                  <select ng-options="typeDoc.code as typeDoc.name for typeDoc in vm.ctasctables | orderBy:'name' track by typeDoc.code" ng-model="vm.docType2"
                          class="form-control">
                  </select>
              </div>
              <div class="form-group col-md-4">
                  <label>Tipo de Compra:</label><br>
                  <select ng-options="typeDoc.code as typeDoc.name for typeDoc in vm.purchaseType | orderBy:'name' track by typeDoc.code" ng-model="vm.docType3"
                          class="form-control">
                  </select>
              </div>
          </div>
          <div class="row" ng-show="vm.tableTaxes !== undefined">
              <div class="form-group col-md-12">
                  <input ng-model="searchTextTaxes" class="form-control" placeholder="Buscar">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th> C&oacute;digo </th>
                              <th> Nombre Generico </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-show="vm.tableTaxes == 0">
                              <td colspan="2">
                                  No hay Fuente Seleccionada
                              </td>
                          </tr>
                          <tr dir-paginate="q in vm.tableTaxes | filter:searchTextTaxes | itemsPerPage: 10"  pagination-id="taxesPagination">
                              <td>{{ q.codigo }}</td>
                              <td>{{ q.name }}</td>
                              <td>
                                  <button type="button" class="btn btn-primary"
                                          ng-click="vm.selecTaxes(q)" data-toggle="modal" data-target="#modalSelectedTaxes">
                                          Seleccionar
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <dir-pagination-controls pagination-id="taxesPagination"></dir-pagination-controls>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-12">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                            <th> CODIGO </th>
                            <th> CUENTA ASOCIADA </th>
                            <th> DESCRIPCION </th>
                            <th> TIPO </th>
                            <th> VALOR </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr ng-show="vm.retention.items == 0">
                              <td colspan="5">
                                No hay Fuente Seleccionada
                              </td>
                          </tr>
                          <tr ng-repeat="i in vm.debstopay.items" >
                              <td>
                                  <span ng-if="i.codigo === 1">IMPUESTOS EN IVA</span>
                              </td>
                              <td>{{i.cuenta_asociada}}</td>
                              <td>{{i.descripcion}}</td>
                              <td>{{i.tipo}}</td>
                              <td>{{i.valor}}</td>
                              <td>
                                  <button type="button" class="btn btn-primary"
                                          ng-click="vm.editItemTaxes($index)" data-toggle="modal" data-target="#modalBaseImponible">
                                          Corregir
                                  </button>
                              </td>
                          </tr>
                          <tr>
                              <td></td>
                              <td></td>
                              <td>DEBITO: {{i.debito}}</td>
                              <td>CREDITO: {{i.credito}}</td>
                              <td><b>SALDO: {{i.saldo}}</b></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-12">
                  <button type="button" class="btn btn-primary" ng-click="vm.previsualisation()"
                          data-toggle="modal" data-target="#modalPrevisualizacion"
                          ng-disabled="vm.debstopay.items == 0">
                          Previsualizar
                  </button>
                  <button type="button" class="btn btn-primary"
                          ng-click="vm.getClaveAcceso()" ng-disabled="vm.debstopay.items == 0">
                          Crear
                  </button>
                  <button type="button" class="btn btn-primary"
                          ng-click="vm.debstopay = undefined">
                          Cancelar
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>

<!--FINAL MODULO DE CARGA DETALLES DE FACTURA PARA CTAS X COBRAR -->
