<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="header">
  <h4>
    Proveedores
  </h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-danger">{{vm.error}}</div>
  </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-success">{{vm.success}}</div>
  </div>
</div>

<div ng-show="vm.provider === undefined && vm.providerToUse === undefined">

  <input ng-model="searchText" class="form-control" placeholder="Buscar">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> C&oacute;digo </th>
        <th> Nombre </th>
        <th> Tipo </th>
        <th>
          <button type="button" class="btn btn-primary" ng-click="vm.providerCreate()">
            Crear
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="vm.providerList == 0">
        <td colspan="4">
          No hay proveedores ingresados
        </td>
      </tr>
      <tr ng-repeat="providerEdit in vm.providerList | orderBy:'name' | filter:searchText">
        <td>{{ providerEdit.codeIntegridad }}</td>
        <td>{{ providerEdit.name }}</td>
        <td>{{ providerEdit.providerType }}</td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="vm.editProvider(providerEdit)">
            Editar
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.provider=providerEdit"
            data-toggle="modal" data-target="#modalEliminar">
            Eliminar
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.createRetention(providerEdit)">
            Retenci&oacute;n
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show="vm.provider !== undefined">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Datos del Proveedor</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label>C&oacute;digo: </label>
          <input type="text" ng-model="vm.provider.codeIntegridad" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label>Tipo de proveedor: </label>
          <select ng-options="tipo as tipo for tipo in vm.providerType" ng-model="vm.provider.providerType"
          class="form-control"></select>
        </div>
        <div class="form-group col-md-4">
          <label>RUC: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.provider.ruc" class="form-control" maxlength="13">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Nombre Comercial: </label>
          <input type="text" ng-model="vm.provider.name" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Raz&oacute;n Social: </label>
          <input type="text" ng-model="vm.provider.razonSocial" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Direcci&oacute;n: </label>
          <input type="text" ng-model="vm.provider.address1" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Pa&iacute;s: </label>
          <input type="text" ng-model="vm.provider.country" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Ciudad: </label>
          <input type="text" ng-model="vm.provider.city" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Tel&eacute;fono: (incluir c&oacute;digo de provincia ej: 02) </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.provider.phone" class="form-control" maxlength="9">
        </div>
        <div class="form-group col-md-6">
          <label>Tel&eacute;fono celular: </label>
          <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          ng-model="vm.provider.celPhone" class="form-control" maxlength="10">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Email: </label>
          <input type="text" ng-model="vm.provider.email" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Contacto: </label>
          <input type="text" ng-model="vm.provider.contact" class="form-control">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary" ng-click="vm.register()"
        ng-disabled="vm.disableSave()">
        Guardar
      </button>
      <button type="button" class="btn btn-success"
      ng-click="vm.cancel()">
        Cancelar
      </button>
    </div>
  </div>
</div>

<div ng-show="vm.providerToUse !== undefined">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Datos para La Retenci&oacute;n</b>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="form-group col-md-6">
          <label>Fecha de Factura: </label>
          <div class="input-group date" id="pickerBillDate">
            <input type="text" class="form-control input-group-addon"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
          </div>
          <script>
            var defaultDate = new Date();
            $('#pickerBillDate').datetimepicker({
              format: "DD/MM/YY",
            });
          </script>
        </div>

        <div class="form-group col-md-6">
          <label>N&uacute;mero de Factura: </label>
          <input type="text" ng-model="vm.retention.numero"
          class="form-control" maxlength="18">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Ejercicio Fiscal: </label>
          <input type="text" ng-model="vm.retention.ejercicio" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
          class="form-control" maxlength="4">
        </div>

        <div class="form-group col-md-6">
          <label>Tipo de Impuesto: </label><br/>
          <label class="radio-inline"><input type="radio" ng-model="vm.retention.typeRetention" value="1" name="tipo" ng-change="vm.getPercentageTable()">Fuente</label>
          <label class="radio-inline"><input type="radio" ng-model="vm.retention.typeRetention" value="2" name="tipo" ng-change="vm.getPercentageTable()">IVA</label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <input ng-model="searchTextPercentage" class="form-control" placeholder="Buscar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Descripci&oacute;n </th>
                <th> % </th>
                <th>  </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="vm.tablePercentage == 0">
                <td colspan="2">
                  No hay Fuente Seleccionada
                </td>
              </tr>
              <tr dir-paginate="p in vm.tablePercentage | filter:searchTextPercentage | itemsPerPage: 5"  pagination-id="clientPagination">
                <td>{{ p.name }}</td>
                <td>{{ p.percentage }}</td>
                <td>
                  <button type="button" class="btn btn-primary"
                    ng-click="vm.selecPercentage(p)" data-toggle="modal" data-target="#modalBaseImponible">
                    Seleccionar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <dir-pagination-controls pagination-id="clientPagination"></dir-pagination-controls>
        </div>
      </div>



    </div>
  </div>
</div>

<div id="modalBaseImponible" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.impuesto=undefined">&times;</button>
        <h4 class="modal-title">Base Imponible</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3"  ng-if="vm.item.codigo === 1">
            <b>Retenci&oacute;n en la Fuente</b>
          </div>
          <div class="col-md-3"  ng-if="vm.item.codigo === 2">
            <b>Retenci&oacute;n del IVA</b>
          </div>
          <div class="col-md-3" >
            C&oacute;digo: <b>{{vm.item.codigo_porcentaje}}</b>
          </div>
          <div class="col-md-3" >
            Retenci&oacute;n %: <b>{{vm.item.porcentaje}}</b>
          </div>
          <div class="col-md-3" >
            <label>Valor</label>
            <input type="text" onkeypress="return ((event.which >= 46 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
            class="form-control" maxlength="9" ng-model="vm.baseImponibleItem">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addItem()">
          Agregar
        </button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.provider=undefined">&times;</button>
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" >
            Esta seguro que desea Eliminar el Proveedor: {{vm.provider.name}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.remove()" data-dismiss="modal">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
