<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
  <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>

<div class="header">
  <h4>
    Cuentas Por Cobrar
  </h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-danger">{{vm.error}}</div>
  </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
  <div class="form-group col-md-12">
    <div class="alert alert-success">{{vm.success}}</div>
  </div>
</div>

<!--SECCIÓN DE CARGA DE LOS LOS CLIENTES-->
<div ng-show="vm.billList === undefined && vm.clientSelected === undefined">
  <div class="row">
    <div class="form-group col-md-12">
      <input ng-model="searchText" class="form-control" placeholder="Buscar Clientes">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>C&oacute;digo</th>
        <th>Nombre</th>
        <th>Tipo ID</th>
        <th>No. Identidad</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="vm.clientList == 0">
        <td colspan="4">
          No hay clientes ingresados
        </td>
      </tr>
      <tr ng-repeat="clientPreSelect in vm.clientList | orderBy:'name' | filter:searchText">
        <td>{{clientPreSelect.codApp}}</td>
        <td>{{clientPreSelect.name}}</td>
        <td>{{clientPreSelect.typeId}}</td>
        <td>{{clientPreSelect.identification}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" ng-click="vm.clientConsult(clientPreSelect)">
                  Seleccionar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--SECCIÓN DE CARGA DE LAS FACTURAS DE LOS CLIENTES-->
<div ng-show="vm.billList !== undefined">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Listado de Facturas por Cobrar</b>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>N&uacute;mero</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="vm.billList == 0">
            <td colspan="4">
                El Cliente <b>No Presenta</b> Facturas Pendientes por Cobrar
            </td>
          </tr>
          <tr ng-repeat="bill in vm.billList | orderBy:'name':true | filter:searchText">
            <td>{{bill.stringSeq}}</td>
            <td>{{bill.dateCreated | date : "dd/MM/yyyy"}}</td>
            <td>{{bill.client.name}}</td>
            <td>{{bill.total}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" 
                      ng-click="vm.creditsByBill(bill)" data-toggle="modal" data-target="#modalCuotas">
                      Seleccionar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="form-group col-md-12">
          <button type="button" class="btn btn-primary" ng-click="vm.billList = undefined">
                  Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SECCIÓN DE CARGA DE LOS CRÉDITOS POR FACTURA-->
<div id="modalCuotas" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Listado de Créditos por Factura por Cobrar</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fecha Limite</th>
              <th>N&uacute;mero de Pagos</th>
              <th>Saldo por Cancelar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="vm.creditsbillList == 0">
              <td colspan="4">
                  La Factura <b>No Presenta</b> Cobros Pendientes por Cancelar
              </td>
            </tr>
            <tr ng-repeat="credit in vm.creditsbillList | orderBy:'payNumber':true">
              <td>{{credit.fecha | date : "dd/MM/yyyy"}}</td>
              <td>{{credit.payNumber}}</td>
              <td>{{credit.valor}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click=""
                        data-dismiss="modal" data-toggle="modal" data-target="#modalAbonar">
                        Abonar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="">
                Aceptar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
                Salir
        </button>
      </div>
    </div>
  </div>
</div>

<!--SECCIÓN DE PAGO DE LAS CUOTAS POR FACTURA-->
<div id="modalAbonar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pago de Cuotas</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Nombre del Cliente:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6">
            <label>Identificación del Cliente:</label><br/>
            <input type="text" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Fecha de Pago: </label>
            <div class="input-group date" id="pickerDateOfPayment">
              <input type="text" class="form-control input-group-addon"/>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
            </div>
            <script>
              var defaultDate = new Date();
              $('#pickerDateOfPayment').datetimepicker({format: "DD/MM/YY",});
            </script>
          </div>
          <div class="form-group col-md-6">
            <label>Seleccione el Tipo de Abono:</label>
            <select ng-options="item.code as item.name for item in [{code:'PAC', name:'PAGO CORRIENTE'}, {code:'RET', name:'RETENCIÓN'}]"
                    ng-model="vm.payment.typePayment" class="form-control">
            </select>
          </div>
        </div>
        <div class="row" ng-show="vm.payment.typePayment === 'PAC'">
          <div class="form-group col-md-12">
            <label>Seleccione Modalidad de Pago:</label><br/>
            <label class="radio-inline"><input type="radio" ng-model="vm.payment.modePayment" 
                   value="1" name="efectivo">Efectivo</label>
            <label class="radio-inline"><input type="radio" ng-model="vm.payment.modePayment" 
                   value="2" name="cheque">Cheque</label>
            <label class="radio-inline"><input type="radio" ng-model="vm.payment.modePayment" 
                   value="3" name="transfer">Transferencia</label>
            <label class="radio-inline"><input type="radio" ng-model="vm.payment.modePayment" 
                   value="4" name="tdc">Tarjeta de Cŕedito</label>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '1'">
            <label>Detalle:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '1'">
            <label>Valor a Cancelar:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '2'">
            <label>Número de Cheque:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '2'">
            <label>Número de Cuenta:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '2'">
            <label>Detalle:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '2'">
            <label>Valor a Cancelar:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '3'">
            <label>Número de Transferencia:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '3'">
            <label>Número de Cuenta:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '3'">
            <label>Detalle:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '3'">
            <label>Valor a Cancelar:</label><br/>
            <input type="text" class="form-control"/>
          </div>     
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '4'">
            <label>Número de Tarjeta:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '4'">
            <label>Detalle:</label><br/>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-md-6" ng-show="vm.payment.modePayment === '4'">
            <label>Valor a Cancelar:</label><br/>
            <input type="text" class="form-control"/>
          </div>
        </div>
        <div class="row" ng-show="vm.payment.typePayment === 'RET'">
          <div class="form-group col-md-6">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="">
                Aceptar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
                Salir
        </button>
      </div>
    </div>
  </div>
</div>