<div style="width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background: rgba(255, 255, 255, 0.3)" ng-show="vm.loading">
    <div style="position: absolute;top: 15%;z-index: 100; width: 100%; text-align: center;">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
</div>

<div class="header">
    <h4>Cuentas por Pagar</h4>
</div>

<div class="row" ng-show="vm.error !== undefined">
    <div class="form-group col-md-12">
        <div class="alert alert-danger">{{vm.error}}</div>
    </div>
</div>
<div class="row" ng-show="vm.success !== undefined">
    <div class="form-group col-md-12">
        <div class="alert alert-success">{{vm.success}}</div>
    </div>
</div>

<div ng-show="vm.provider === undefined && vm.providerSelected === undefined">
    <div class="row">
        <div class="form-group col-md-12">
            <input ng-model="searchText" class="form-control" placeholder="Buscar Proveedores">
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
                <th>Tipo ID</th>
                <th>No. Identidad</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="vm.providerList == 0">
                <td colspan="4">
                    No hay proveedores ingresados
                </td>
            </tr>
            <tr ng-repeat="provider in vm.providerList | orderBy:'name' | filter:searchText">
                <td>{{provider.codeIntegridad}}</td>
                <td>{{provider.name}}</td>
                <td>{{provider.ruc_type}}</td>
                <td>{{provider.ruc}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="vm.selectProvider(provider)">
                            Seleccionar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--INICIO MODULO DE CARGA DETALLES DE FACTURA PARA CTAS X PAGAR -->

<div ng-show="vm.providerSelected !== undefined">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Detalles de la Factura</b>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>C&oacute;digo Proveedor:</label>
                    {{vm.debtsToPay.provider.codeIntegridad}}
                </div>
                <div class="form-group col-md-6">
                    <label>RUC / CEDULA:</label>
                    {{vm.debtsToPay.provider.ruc}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Nombre Comercial:</label>
                    {{vm.debtsToPay.provider.name}}
                </div>
                <div class="form-group col-md-6">
                    <label>Raz&oacute;n Social:</label>
                    {{vm.debtsToPay.provider.razonSocial}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Tipo de Proveedor:</label>
                    {{vm.debtsToPay.provider.providerType}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Tipo de Comprobante de Compra:</label>
                    <select ng-options="typeDoc.code as typeDoc.name for typeDoc in vm.voucherType | orderBy:'name' track by typeDoc.code" ng-model="vm.debtsToPay.buyTypeVoucher"
                            class="form-control">
                    </select>
                </div> 
                <div class="form-group col-md-6">
                    <label>Tipo de C&oacute;digo Sustento:</label>
                    <select ng-options="typeDocs.code as typeDocs.name for typeDocs in vm.supportType | orderBy:'name' track by typeDocs.code" ng-model="vm.debtsToPay.purchaseType"
                            class="form-control">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Fecha del Documento:</label>
                    <div class="input-group date" id="pickerBillDatedebtsToPay">
                        <input type="text" class="form-control input-group-addon"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></span>
                    </div>
                    <script>
                        var defaultDate = new Date();
                        $('#pickerBillDatedebtsToPay').datetimepicker({format: "DD/MM/YY",});
                    </script>
                </div>
                <div class="form-group col-md-3">
                    <label>Ejercicio Fiscal:</label><br/>
                    <label>{{vm.ejercicio}}</label>
                </div>
                <div class="form-group col-md-6">
                    <label>N&uacute;mero de Factura:</label><br/>
                    <div class="form-group col-md-3">
                        <input type="text" ng-model="vm.debtsToPay.cashierNumber" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               class="form-control" maxlength="3">
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" ng-model="vm.debtsToPay.sequentialNumber" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               class="form-control" maxlength="3">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" ng-model="vm.debtsToPay.establishmentNumber" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               class="form-control" maxlength="9">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>N&uacute;mero de Autorizaci&oacute;n:</label><br/>
                    <input type="text" ng-model="vm.debtsToPay.authorizationNumber" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                           class="form-control" maxlength="90">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Valor Total a Pagar:</label>
                    <input type="text" ng-model="vm.debtsToPay.total"
                           class="form-control" maxlength="20">
                </div>
                <div class="form-group col-md-4">
                    <label>Impuesto:</label><br>
                    <label class="radio-inline"><input type="radio" ng-model="vm.debtsToPay.typeTaxes" value="1" name="tipo"
                           ng-change="vm.getPercentageTable()">IVA</label>
                </div>
            </div>
            <div class="row" ng-show="vm.cuentaContableList !== undefined">
                <div class="form-group col-md-12">
                    <input ng-model="searchTextTaxes" class="form-control" placeholder="Buscar">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipo Compra</th>
                                <th>C&oacute;digo</th>
                                <th>Descripci&oacute;n</th>
                                <th>Tipo de Cuenta</th>
                                <th>Nombre G&eacute;nerico</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="vm.cuentaContableList == 0">
                                <td colspan="2">
                                    No hay Fuente Seleccionada
                                </td>
                            </tr>
                            <tr dir-paginate="q in vm.cuentaContableList | orderBy:'type' | filter:searchTextTaxes | itemsPerPage: 4"  pagination-id="taxesPagination">
                                <td>{{q.type}}</td>
                                <td>{{q.code}}</td>
                                <td>{{q.description}}</td>
                                <td>{{q.accountType}}</td>
                                <td>{{q.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"
                                            ng-click="vm.selectTaxes(q)" data-toggle="modal" data-target="#modalSelectedTaxes">
                                            Seleccionar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls pagination-id="taxesPagination"></dir-pagination-controls>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                              <th> CODIGO </th>
                              <th> CUENTA ASOCIADA </th>
                              <th> DESCRIPCION </th>
                              <th> TIPO </th>
                              <th> VALOR </th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="vm.debtsToPay.items == 0">
                                <td colspan="5">
                                  No hay Fuente Seleccionada
                                </td>
                            </tr>
                            <tr ng-repeat="i in vm.debtsToPay.items" >
                                <td>{{i.codigo_contable}}</td>
                                <td>{{i.desc_contable}}</td>
                                <td>{{i.nomb_contable}}</td>
                                <td>{{i.tipo}}</td>
                                <td>{{i.base_imponible}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"
                                            ng-click="vm.editItemTaxes($index)" data-toggle="modal" data-target="#modalSelectedTaxes">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            ng-click="vm.deleteItemTaxes($index)">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>DEBITO: {{vm.getTotalDebito()}}</td>
                                <td>CREDITO: {{vm.getTotalCredito()}}</td>
                                <td><b>SALDO: {{vm.getTotalSaldo()}}</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary"
                            ng-click="vm.saveDebtsToPay(vm.debtsToPay);vm.cancel()" ng-disabled="vm.debtsToPay.items == 0">
                            Guardar
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="vm.cancel()">
                            Cancelar
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="" ng-disabled="vm.debtsToPay.items == 0">
                            Forma de Pago
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalSelectedTaxes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="vm.impuesto=undefined">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>C&oacute;digo:</label>  
                        <b>{{vm.item.codigo_contable}}</b>
                    </div>
                    <div class="col-md-3">
                        <label>Nombre:</label>
                        <b>{{vm.item.desc_contable}}</b>
                    </div>
                    <div class="col-md-3">
                        <label>Valor</label>
                        <input type="text" onkeypress="return ((event.which >= 46 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               class="form-control" maxlength="9" ng-model="vm.item.base_imponible" placeholder="{{vm.subTotal}}"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addItem()">
                        Aceptar
                </button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal"
                        ng-click="vm.item = undefined; vm.indexEdit = undefined;">
                        Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!--MODALIDAD DE PAGO NO CULMINADA-->

<div id="modalAddPago" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="vm.medio={}">&times;</button>
                <h4 class="modal-title">Agregar Pago</h4>
                TOTAL: {{vm.bill.total}}
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <b>TIPO DE PAGO: </b>
                        <select ng-options="med.code as med.name for med in vm.medList  | orderBy:'name'  track by med.code"
                                ng-model="vm.medio.medio" class="form-control" ng-change="vm.loadMedio()">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <b>FORMA DE PAGO: </b><br />
                        {{vm.medio.payForm}}
                    </div>
                </div>
                <div class="row" ng-show="vm.medio.medio === 'cheque' || vm.medio.medio === 'cheque_posfechado'">
                    <div class="form-group col-md-4">
                        <b>BANCO: </b>
                        <input type="text" ng-model="vm.medio.chequeBank" class="form-control" maxlength="9">
                    </div>
                    <div class="form-group col-md-4">
                        <b>CUENTA: </b>
                        <input type="text" ng-model="vm.medio.chequeAccount" class="form-control" maxlength="9">
                    </div>
                    <div class="form-group col-md-4">
                        <b>NUMERO DE CHEQUE: </b>
                        <input type="text"
                               ng-model="vm.medio.chequeNumber" class="form-control" maxlength="9">
                    </div>
                </div>
                <div class="row" ng-show="vm.medio.medio === 'cheque_posfechado'">
                    <div class="form-group col-md-6">
                        <b>DIAS PLAZO: </b>
                        <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               ng-model="vm.medio.chequeDiasPlazo" class="form-control" maxlength="9" ng-change="vm.getFechaCobro()">
                    </div>
                    <div class="form-group col-md-6">
                        <b>FECHA COBRO: </b><br/>
                        {{vm.medio.fechaCobro | date :  "dd/MM/yyyy"}}
                    </div>
                </div>
                <div class="row" ng-show="vm.medio.medio === 'credito'">
                    <div class="form-group col-md-4">
                        <b>NUMERO DE PAGOS: </b>
                        <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               ng-model="vm.medio.creditoNumeroPagos" class="form-control" maxlength="2">
                    </div>
                    <div class="form-group col-md-4">
                        <b>INTERVALOS DE DIAS: </b><br/>
                        <input type="text" onkeypress="return ((event.which >= 48 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               ng-model="vm.medio.creditoIntervalos" class="form-control" maxlength="3">
                    </div>
                    <div class="form-group col-md-4">
                        <br/>
                        <button type="button" class="btn btn-primary" ng-click="vm.loadCredit()"
                                ng-disabled="vm.medio.creditoIntervalos === undefinded || vm.medio.creditoNumeroPagos === undefined">
                                Calcular
                        </button>
                    </div>
                </div>
                <div class="row" ng-show="vm.medio.medio === 'credito'">
                    <div class="form-group col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> PAGO </th>
                                    <th> DIAS PLAZO </th>
                                    <th> FECHAS </th>
                                    <th> VALOR </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cred in vm.medio.credits">
                                    <td>{{ cred.payNumber }}</td>
                                    <td>{{ cred.diasPlazo }}</td>
                                    <td>{{ cred.fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>{{ cred.valor }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-show="vm.medio.medio === 'tarjeta_credito' || vm.medio.medio === 'tarjeta_debito'">
                    <div class="form-group col-md-6">
                        <b>TARJETA: </b>
                        <select ng-options="card as card for card in vm.creditCardList"
                                ng-model="vm.medio.cardBrand" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6" ng-if="vm.medio.medio === 'efectivo' || vm.medio.medio === 'dinero_electronico_ec'">
                        <b>VALOR: </b>
                        <input type="text" onkeypress="return ((event.which >= 46 && event.which <= 57) || (event.keyCode == 9 || event.keyCode == 8))"
                               ng-model="vm.medio.total" class="form-control" maxlength="9">
                    </div>
                    <div class="form-group col-md-6" ng-if="vm.medio.medio !== 'efectivo' && vm.medio.medio !== 'dinero_electronico_ec'">
                        <b>VALOR: </b><br />
                        ${{vm.medio.total}}
                    </div>
                    <div class="form-group col-md-4">
                        <br/>
                        <button type="button" class="btn btn-primary" ng-click="vm.addPago()"
                                ng-disabled="vm.medio.medio === undefinded || vm.medio.total === undefined">
                                Agregar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Medio</th>
                                    <th>Valor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="vm.pagos == 0">
                                    <td colspan="4">
                                        No hay pagos ingresados
                                    </td>
                                </tr>
                                <tr ng-repeat="pago in vm.pagos">
                                    <td>{{ pago.medio }}</td>
                                    <td>{{ pago.total }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" ng-click="vm.removePago($index)">
                                                Eliminar
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>TOTAL</b></td>
                                    <td>{{vm.getTotalPago()}}</td>
                                    <td>
                                        Vuelto: {{vm.getCambio}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-disabled="vm.pagos.length === 0 || vm.getCambio < 0">
                        Cerrar
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.getClaveAcceso()"
                        ng-disabled="(vm.pagos.length === 0 || vm.getCambio < 0) || vm.billed" print-remove>
                        Facturar
                </button>
            </div>
        </div>
    </div>
</div>