<div class="form-group col-md-12">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="text-align: center;" >
                <img src="images/imagen1.jpg" style="width: 53%; margin-top: 10px;"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;" >
                <img src="images/mensajehome.png" style="width: 80%; margin-top: 10px;">        
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center; font-size: larger;">
                <b><a href="#!/bills/bill">Facturaci&oacute;n</a></b>&nbsp;&nbsp;&nbsp;
                <b><a href="#!/products/products">Productos</a></b>&nbsp;&nbsp;&nbsp;
                <b><a href="#!/report/sales">Reportes</a></b>&nbsp;&nbsp;&nbsp;
                <b><a href="#!/clients">Clientes</a></b>&nbsp;&nbsp;&nbsp;
                <b><a href="#!/provider/providers">Proveedores</a></b>&nbsp;&nbsp;&nbsp;
                <b><a href="#!/note/credit">Nota de Credito</a></b>
            </div>
        </div>
    </div>
</div>