<div class="form-group col-md-12">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="text-align: center;" >
                <img src="images/imagen1.jpg" style="width: 53%; margin-top: 10px;"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;" >
                <img src="images/mensajehome.png" style="width: 80%; margin-top: 10px;">        
            </div>
        </div>
    </div>
</div>