<div class="form-group col-md-12">
    <div class="panel-body">
        <div class="row" style="align-items: center;">
            <div class="col-md-12">
                <img src="images/imagen1.jpg" style="width: 50%; margin-top: 10px;"><br>
            </div>
        </div>
        <div class="row" style="align-items: center;">
            <div class="form-group col-md-12">
                <span>
                    <img src="images/mensajehome.png" width="70%" height="100" style="margin-top: 10px;">
                <span>
            </div>
        </div>
    </div>
</div>